force-app/main/default/flows/Action_Plan_Integration_A_New_Era.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Action_Plan_Record</name>
        <label>Create Action Plan Record</label>
        <locationX>314</locationX>
        <locationY>1079</locationY>
        <actionName>randa__ApplicationService_API</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Created_Action_Plan</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ActionPlanTemplateNames</name>
            <value>
                <elementReference>actionPlanTemplates</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>Get_Application.OwnerId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SkipWeekendsAndHolidays</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>StartDate</name>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>TargetRecord</name>
            <value>
                <elementReference>Get_Application</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Version</name>
            <value>
                <elementReference>Get_Action_Plan_Template_Version.Version</elementReference>
            </value>
        </inputParameters>
        <nameSegment>randa__ApplicationService_API</nameSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_actionPlan_var_Add_Template_Name_to_Collection_for_Action_Plan_Create</name>
        <label>Set actionPlan_var, Add Template Name to Collection for Action Plan Create</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignmentItems>
            <assignToReference>actionPlan_var.CS9_Item_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>actionPlan_var.CS9_Due_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>actionPlan_var.CS9_Status_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>actionPlan_var.CS9_Institution_Org_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>actionPlan_var.ActionPlanState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>actionPlan_var.CS9_Sync_Timestamp__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>actionPlanTemplates</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>templateName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>actionPlan_var.CS9_Item_Completed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>isCompleted</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Application</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_actionPlan_var_ID</name>
        <label>Set actionPlan_var ID, Action Plan Item ID</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>actionPlan_var.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Existing_Action_Plan.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>actionPlan_var.Action_Plan_Item_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Existing_Action_Plan.Action_Plan_Item_ID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Action_Plan</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_actionPlan_var_ID_Compound_ID</name>
        <label>Set actionPlan_var ID, Compound ID, Action Plan Item ID</label>
        <locationX>314</locationX>
        <locationY>1511</locationY>
        <assignmentItems>
            <assignToReference>actionPlan_var.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Created_Action_Plan.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>actionPlan_var.CS9_Compound_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>actionPlan_var.Action_Plan_Item_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Action_Plan_Item.ItemId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>actionPlan_var.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>actionPlanItemName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Action_Plan</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>actionPlanTemplateItemName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Submit Document(s) to CCC</stringValue>
        </value>
    </constants>
    <constants>
        <name>templateName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Transcript</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Query_Result</name>
        <label>Query Result</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Get_Action_Plan_Template</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Record Found</defaultConnectorLabel>
        <rules>
            <name>Record_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_Action_Plan.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_actionPlan_var_ID</targetReference>
            </connector>
            <label>Record Found</label>
        </rules>
    </decisions>
    <description>This flow creates Action Plan records from the Action Plan Staging table.</description>
    <environments>Default</environments>
    <formulas>
        <name>actionPlanItemName</name>
        <dataType>String</dataType>
        <expression>&quot;Submit Transcript for &quot; + {!$Record.Plan_Name__c}</expression>
    </formulas>
    <formulas>
        <name>actionPlanItemState</name>
        <dataType>String</dataType>
        <expression>IF({!isCompleted}, &quot;Completed&quot;, &quot;InProgress&quot;)</expression>
    </formulas>
    <formulas>
        <name>applicationId</name>
        <dataType>String</dataType>
        <expression>{!$Record.Application_ID__c}</expression>
    </formulas>
    <formulas>
        <name>dciRecordName</name>
        <dataType>String</dataType>
        <expression>{!$Record.Plan_Name__c} + &quot; Transcript Submitted to CCC&quot;</expression>
    </formulas>
    <formulas>
        <name>dciStatus</name>
        <dataType>String</dataType>
        <expression>IF({!isCompleted}, &quot;Accepted&quot;, &quot;Pending&quot;)</expression>
    </formulas>
    <formulas>
        <name>isCompleted</name>
        <dataType>Boolean</dataType>
        <expression>TEXT({!$Record.CS9_Item_Status__c}) = &quot;Completed&quot;</expression>
    </formulas>
    <interviewLabel>Action Plan Integration) A New Era {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Integration) Action Plan) Create from Staging, Populate Lookups</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Action_Plan_Item</name>
        <label>Create Action Plan Item</label>
        <locationX>314</locationX>
        <locationY>1295</locationY>
        <connector>
            <targetReference>Get_Action_Plan_Item</targetReference>
        </connector>
        <inputAssignments>
            <field>ActionPlanId</field>
            <value>
                <elementReference>Get_Created_Action_Plan.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ActionPlanTemplateItemId</field>
            <value>
                <elementReference>Get_Action_Plan_Template_Item.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DisplayOrder</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsRequired</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ItemState</field>
            <value>
                <elementReference>actionPlanItemState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>actionPlanTemplateItemName</elementReference>
            </value>
        </inputAssignments>
        <object>ActionPlanItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Action_Plan_Item</name>
        <label>Get Action Plan Item</label>
        <locationX>314</locationX>
        <locationY>1403</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_actionPlan_var_ID_Compound_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ActionPlanId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Created_Action_Plan.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ItemId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ActionPlanItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Action_Plan_Template</name>
        <label>Get Action Plan Template</label>
        <locationX>314</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Action_Plan_Template_Version</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>templateName</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Final</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ActionPlanTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Action_Plan_Template_Item</name>
        <label>Get Action Plan Template Item</label>
        <locationX>314</locationX>
        <locationY>971</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Action_Plan_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ActionPlanTemplateVersionId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Action_Plan_Template_Version.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ActionPlanTemplateItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Action_Plan_Template_Version</name>
        <label>Get Action Plan Template Version</label>
        <locationX>314</locationX>
        <locationY>863</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Action_Plan_Template_Item</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ActionPlanTemplateId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Action_Plan_Template.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ActionPlanTemplateVersion</object>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Application</name>
        <label>Get Application</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Existing_Action_Plan</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>hed__Application__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Created_Action_Plan</name>
        <label>Get Created Action Plan</label>
        <locationX>314</locationX>
        <locationY>1187</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Action_Plan_Item</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ActionPlanTemplateVersionId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Action_Plan_Template_Version.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>TargetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Application.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ActionPlan</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_Action_Plan</name>
        <label>Get Existing Action Plan</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Query_Result</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TargetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.null__NotFound</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ActionPlan</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Action_Plan</name>
        <label>Update Action Plan</label>
        <locationX>182</locationX>
        <locationY>1703</locationY>
        <connector>
            <targetReference>Update_Document_Checklist_Item</targetReference>
        </connector>
        <inputReference>actionPlan_var</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Document_Checklist_Item</name>
        <label>Update Document Checklist Item</label>
        <locationX>182</locationX>
        <locationY>1811</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>actionPlan_var.Action_Plan_Item_ID__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>dciRecordName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>dciStatus</elementReference>
            </value>
        </inputAssignments>
        <object>DocumentChecklistItem</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_actionPlan_var_Add_Template_Name_to_Collection_for_Action_Plan_Create</targetReference>
        </connector>
        <object>hed__Application__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>InvalidDraft</status>
    <variables>
        <name>actionPlan_var</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ActionPlan</objectType>
    </variables>
    <variables>
        <name>actionPlanItemId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>actionPlanTemplates</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
