force-app/main/default/flows/BACKUP_Call_Center_TASK_Outbound_Call_Details.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>All_Attemps_Reload</name>
        <label>All Attemps Reload</label>
        <locationX>864</locationX>
        <locationY>3002</locationY>
        <actionName>c:ReloadPage</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>All_Attempts_Have_Been_Made</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>c:ReloadPage</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Contact_Reach_Reload</name>
        <label>Contact Reach Reload</label>
        <locationX>50</locationX>
        <locationY>2078</locationY>
        <actionName>c:ReloadPage</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>CallAttemptsComplete</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>c:ReloadPage</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Reload_Task_Page</name>
        <label>Reload Task Page</label>
        <locationX>490</locationX>
        <locationY>4034</locationY>
        <actionName>c:ReloadPage</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>AttemptHasBeenMadeScreen</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>c:ReloadPage</nameSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_To_2nd_Attempt_Queue</name>
        <label>Assign To 2nd Attempt Queue</label>
        <locationX>424</locationX>
        <locationY>3326</locationY>
        <assignmentItems>
            <assignToReference>QueueVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Queue.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_To_Spanish_Queue</name>
        <label>Assign To Spanish Queue</label>
        <locationX>160</locationX>
        <locationY>3326</locationY>
        <assignmentItems>
            <assignToReference>QueueVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Spanish_Queue.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Campaign_Member_Assignment</name>
        <label>Campaign Member Assignment</label>
        <locationX>677</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>CampaignMemberIDVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contacts.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CampaignMemberIDVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Leads.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Task_with_Screen_Inputs</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>NoChoice</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>YesChoice</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Are_They_Still_Interested_Decision</name>
        <label>Are They Still Interested?</label>
        <locationX>248</locationX>
        <locationY>1538</locationY>
        <defaultConnector>
            <targetReference>Need_to_Create_a_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Longer Interested</defaultConnectorLabel>
        <rules>
            <name>Yes_They_Are_Still_Interested</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Are_They_Still_Interested</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enrollment_Status</targetReference>
            </connector>
            <label>Yes They Are Still Interested</label>
        </rules>
    </decisions>
    <decisions>
        <name>Call</name>
        <label>Call Status Decision</label>
        <locationX>292</locationX>
        <locationY>3218</locationY>
        <defaultConnector>
            <targetReference>Assign_To_2nd_Attempt_Queue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Spanish</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Call_Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Spanish Speaker</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_To_Spanish_Queue</targetReference>
            </connector>
            <label>Spanish</label>
        </rules>
    </decisions>
    <decisions>
        <name>FollowUp</name>
        <label>FollowUp?</label>
        <locationX>490</locationX>
        <locationY>2786</locationY>
        <defaultConnector>
            <targetReference>Create_Outbound_Campaign_Record_Followup</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Follow Up Needed</defaultConnectorLabel>
        <rules>
            <name>Create_Follow_Up</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Follow_Up</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Record_Types</targetReference>
            </connector>
            <label>Create Follow Up</label>
        </rules>
    </decisions>
    <decisions>
        <description>If the Call Status is anything other than contacting the student, a second attempt will be required.</description>
        <name>Is_Follow_Up_Required</name>
        <label>Is Follow Up Required?</label>
        <locationX>677</locationX>
        <locationY>1214</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Create_Outbound_Campaign_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Follow Up Not Required</defaultConnectorLabel>
        <rules>
            <name>Reached_Student</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Call_Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reached Student</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Task</targetReference>
            </connector>
            <label>Reached Student</label>
        </rules>
        <rules>
            <name>LeaveVoicemail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Call_Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Voicemail</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Which_Call_Attempt_Is_This</targetReference>
            </connector>
            <label>Leave Voicemail</label>
        </rules>
        <rules>
            <name>Follow_Up_is_Needed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Call_Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Voicemail</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Call_Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reached Household</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Call_Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hung Up</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Call_Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Spanish Speaker</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Call_Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Request Call Back</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Call_Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No Answer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Which_Call_Attempt_Is_This</targetReference>
            </connector>
            <label>Follow Up is Required</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Task_Completed</name>
        <label>Is Task Completed?</label>
        <locationX>1287</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>X1st_Attempt_or_2nd_Attempt</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Completed</defaultConnectorLabel>
        <rules>
            <name>Is_Not_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Task.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Campaign</targetReference>
            </connector>
            <label>Is Not Completed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Need_to_Create_a_Case</name>
        <label>Need to Create a Case?</label>
        <locationX>446</locationX>
        <locationY>1646</locationY>
        <defaultConnector>
            <targetReference>Which_Call_Attempt_Is_This</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Don&apos;t Create a Case</defaultConnectorLabel>
        <rules>
            <name>Yes_Create_a_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CreateCaseToggle.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_a_Case</targetReference>
            </connector>
            <label>Yes Create a Case</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Attempt</name>
        <label>Which Attempt</label>
        <locationX>1898</locationX>
        <locationY>458</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>First_Attempt</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Task.CallAttempt__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1st Attempt</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_2ndAttemptCreatedScreen</targetReference>
            </connector>
            <label>First Attempt</label>
        </rules>
        <rules>
            <name>Second_Attempt</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Task.CallAttempt__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2ndAttempt</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_All_Attempts_Have_Been_Made</targetReference>
            </connector>
            <label>Second Attempt</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Call_Attempt_Is_This</name>
        <label>Which Call Attempt Is This?</label>
        <locationX>677</locationX>
        <locationY>2570</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Update_Original_Task</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>2nd Attempt</defaultConnectorLabel>
        <rules>
            <name>X1st_Attempt</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Task.CallAttempt__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1st Attempt</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Follow_Up_Needed</targetReference>
            </connector>
            <label>1st Attempt</label>
        </rules>
    </decisions>
    <decisions>
        <name>X1st_Attempt_or_2nd_Attempt</name>
        <label>1st Attempt or 2nd Attempt</label>
        <locationX>1898</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Not Contacted</defaultConnectorLabel>
        <rules>
            <name>Contacted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Task.Contacted__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Call_Attempts_Complete</targetReference>
            </connector>
            <label>Contacted</label>
        </rules>
        <rules>
            <name>Attempted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Task.AttemptMade__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Which_Attempt</targetReference>
            </connector>
            <label>Attempted</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>AdmissionsChangePickVal</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>AdmissionsChanges__c</picklistField>
        <picklistObject>Outbound_Campaigns__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CallStatusPickVal</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Call_Status__c</picklistField>
        <picklistObject>Outbound_Campaigns__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>EnrollmentStatusPickVal</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>EnrollmentStatus__c</picklistField>
        <picklistObject>Outbound_Campaigns__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>FollowUpPickVal</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FollowUp__c</picklistField>
        <picklistObject>Outbound_Campaigns__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>NewCampus</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>NewCampus__c</picklistField>
        <picklistObject>Outbound_Campaigns__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>OverallExperiencePickVal</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>OverallExperience__c</picklistField>
        <picklistObject>Outbound_Campaigns__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ReasonNotAttendingPickVal</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ReasonNotAttending__c</picklistField>
        <picklistObject>Outbound_Campaigns__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>EndDateTimeFormulaVar</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE ({!EndDateTime})</expression>
    </formulas>
    <formulas>
        <name>newCaseIDlinkFormula</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_260}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_260})) &amp; {!Get_Created_Case.Id}</expression>
    </formulas>
    <formulas>
        <name>OutboundRecordName</name>
        <dataType>String</dataType>
        <expression>{!Get_Campaign.Name} + &quot;-&quot; + {!Get_Campaign_Members.FirstName}+&quot; &quot; +{!Get_Campaign_Members.LastName}</expression>
    </formulas>
    <formulas>
        <name>RedirecttoCase</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_550}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_550})) &amp; {!caseId}</expression>
    </formulas>
    <interviewLabel>BACKUP Call Center) TASK Outbound Call Details {!$Flow.CurrentDateTime}</interviewLabel>
    <label>BACKUP Call Center) TASK Outbound Call Details</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Create the call record for the Outbound Campaign object</description>
        <name>Create_2nd_Attempt_Outbound_Campaign_Record_Followup</name>
        <label>Create 2nd Attempt Outbound Campaign Record Followup</label>
        <locationX>864</locationX>
        <locationY>2894</locationY>
        <assignRecordIdToReference>FollowUpOutboundCampaignRecordVar</assignRecordIdToReference>
        <connector>
            <targetReference>All_Attemps_Reload</targetReference>
        </connector>
        <inputAssignments>
            <field>AdmissionsChanges__c</field>
            <value>
                <elementReference>Admission_Changes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Are_They_Still_Interested__c</field>
            <value>
                <elementReference>Are_They_Still_Interested</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CallAttempt__c</field>
            <value>
                <stringValue>2nd Attempt</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Call_Status__c</field>
            <value>
                <elementReference>Call_Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Campaign__c</field>
            <value>
                <elementReference>Get_Campaign.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comments__c</field>
            <value>
                <elementReference>Comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CreatedDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_Date_Time_OC__c</field>
            <value>
                <elementReference>EndDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FollowUp__c</field>
            <value>
                <elementReference>Follow_Up</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>OutboundRecordName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PlannedInstitutiontoAttend__c</field>
            <value>
                <elementReference>Planned_Institution_to_Attend</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDateTimeOC__c</field>
            <value>
                <elementReference>StartDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StudentName__c</field>
            <value>
                <elementReference>Get_Campaign_Members.ContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Outbound_Campaigns__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Case</name>
        <label>Create Case</label>
        <locationX>314</locationX>
        <locationY>1862</locationY>
        <assignRecordIdToReference>caseId</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Created_Case</targetReference>
        </connector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Get_Contacts.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>CaseVar.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Medium</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SubType__c</field>
            <value>
                <elementReference>CaseVar.SubType__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>CaseVar.Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>CaseVar.Type</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <description>Create the call record for the Outbound Campaign object</description>
        <name>Create_Outbound_Campaign_Record</name>
        <label>Create Outbound Campaign Record</label>
        <locationX>50</locationX>
        <locationY>1754</locationY>
        <connector>
            <targetReference>Update_Campaign_Member</targetReference>
        </connector>
        <inputAssignments>
            <field>AdmissionsChanges__c</field>
            <value>
                <elementReference>Admission_Changes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Are_They_Still_Interested__c</field>
            <value>
                <elementReference>Are_They_Still_Interested</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CallAttempt__c</field>
            <value>
                <stringValue>1st Attempt</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Call_Status__c</field>
            <value>
                <elementReference>Call_Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Campaign__c</field>
            <value>
                <elementReference>Get_Campaign.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comments__c</field>
            <value>
                <elementReference>Comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CreatedDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DatetoCompleteFAFSA__c</field>
            <value>
                <elementReference>Date_to_Complete_FAFSA_Application</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_Date_Time_OC__c</field>
            <value>
                <elementReference>EndDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EnrollmentStatus__c</field>
            <value>
                <elementReference>Enrollment_Statuss</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FollowUp__c</field>
            <value>
                <elementReference>Follow_Up</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>OutboundRecordName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NewCampus__c</field>
            <value>
                <elementReference>New_Campus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OverallExperience__c</field>
            <value>
                <elementReference>Overall_Experience</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PlannedInstitutiontoAttend__c</field>
            <value>
                <elementReference>Planned_Institution_to_Attend</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReasonNotAttending__c</field>
            <value>
                <elementReference>Reason_Not_Attending</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDateTimeOC__c</field>
            <value>
                <elementReference>StartDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StudentName__c</field>
            <value>
                <elementReference>Get_Campaign_Members.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatwouldhelpyoutostayatCCC__c</field>
            <value>
                <elementReference>What_would_help_you_to_stay_at_CCC</elementReference>
            </value>
        </inputAssignments>
        <object>Outbound_Campaigns__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Create the call record for the Outbound Campaign object</description>
        <name>Create_Outbound_Campaign_Record_Followup</name>
        <label>Create Outbound Campaign Record Followup</label>
        <locationX>490</locationX>
        <locationY>3710</locationY>
        <assignRecordIdToReference>FollowUpOutboundCampaignRecordVar</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Original_Task</targetReference>
        </connector>
        <inputAssignments>
            <field>AdmissionsChanges__c</field>
            <value>
                <elementReference>Admission_Changes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Are_They_Still_Interested__c</field>
            <value>
                <elementReference>Are_They_Still_Interested</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CallAttempt__c</field>
            <value>
                <stringValue>1st Attempt</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Call_Status__c</field>
            <value>
                <elementReference>Call_Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Campaign__c</field>
            <value>
                <elementReference>Get_Campaign.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comments__c</field>
            <value>
                <elementReference>Comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CreatedDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_Date_Time_OC__c</field>
            <value>
                <elementReference>EndDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FollowUp__c</field>
            <value>
                <elementReference>Follow_Up</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>OutboundRecordName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PlannedInstitutiontoAttend__c</field>
            <value>
                <elementReference>Planned_Institution_to_Attend</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDateTimeOC__c</field>
            <value>
                <elementReference>StartDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StudentName__c</field>
            <value>
                <elementReference>Get_Campaign_Members.ContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Outbound_Campaigns__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Task</name>
        <label>Create Task</label>
        <locationX>292</locationX>
        <locationY>3518</locationY>
        <assignRecordIdToReference>TaskIDVar</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Outbound_Campaign_Record_Followup</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>EndDateTimeFormulaVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CallAttempt__c</field>
            <value>
                <stringValue>2ndAttempt</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Campaign__c</field>
            <value>
                <elementReference>Get_Campaign.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>FollowUpTaskComment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDateTime__c</field>
            <value>
                <elementReference>EndDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>QueueVariable</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Record_Types.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDateTime__c</field>
            <value>
                <elementReference>StartDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>TextSubjectVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Get_Campaign.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>Get_Campaign_Members.Contact.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordLookups>
        <description>Get the current Campaign</description>
        <name>Get_Campaign</name>
        <label>Get Campaign</label>
        <locationX>677</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Campaign_Members</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Task.Campaign__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the campaign members</description>
        <name>Get_Campaign_Members</name>
        <label>Get Campaign Members</label>
        <locationX>677</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Campaign_Member_to_In_Progress</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Task.WhoId</elementReference>
            </value>
        </filters>
        <filters>
            <field>LeadId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Task.WhoId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CampaignMember</object>
        <sortField>FirstName</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the contact record of the campaign member</description>
        <name>Get_Contacts</name>
        <label>Get Contacts</label>
        <locationX>677</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Leads</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Campaign_Members.ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Created_Case</name>
        <label>Get Created Case</label>
        <locationX>314</locationX>
        <locationY>1970</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_CaseId_to_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Leads</name>
        <label>Get Leads</label>
        <locationX>677</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Campaign_Member_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Campaign_Members.Lead.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Queue</name>
        <label>Get Queue</label>
        <locationX>292</locationX>
        <locationY>3002</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Spanish_Queue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>X2nd_Attempt_Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Types</name>
        <label>Get Record Types</label>
        <locationX>292</locationX>
        <locationY>2894</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Queue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Campaign_Tasks</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Spanish_Queue</name>
        <label>Get Spanish Queue</label>
        <locationX>292</locationX>
        <locationY>3110</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Call</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Spanish</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Task</name>
        <label>Get Task</label>
        <locationX>1287</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Task_Completed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Add_CaseId_to_Task</name>
        <label>Add CaseId to Task</label>
        <locationX>314</locationX>
        <locationY>2078</locationY>
        <connector>
            <targetReference>A_Case_Has_Been_Created</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Task.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Update_Original_Task</name>
        <label>Copy 1 of Update Original Task</label>
        <locationX>864</locationX>
        <locationY>2678</locationY>
        <connector>
            <targetReference>Update_Campaign_Member_Follow_Up</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Task.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AttemptMade__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_2_of_Update_Original_Task</name>
        <label>Copy 2 of Update Original Task</label>
        <locationX>50</locationX>
        <locationY>1970</locationY>
        <connector>
            <targetReference>Contact_Reach_Reload</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Task.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update the Campaign Member Record</description>
        <name>Follow_Up_Update_Campaign_Member</name>
        <label>Follow Up Update Campaign Member</label>
        <locationX>490</locationX>
        <locationY>3926</locationY>
        <connector>
            <targetReference>Reload_Task_Page</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Campaign_Members.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FollowUp__c</field>
            <value>
                <elementReference>Follow_Up</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Follow_Up_Start_Date_CM__c</field>
            <value>
                <elementReference>StartDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OutboundCallStatus__c</field>
            <value>
                <stringValue>Not Contacted</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedTask__c</field>
            <value>
                <elementReference>TaskIDVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Sent</stringValue>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update the Campaign Member Record</description>
        <name>Update_Campaign_Member</name>
        <label>Update Campaign Member</label>
        <locationX>50</locationX>
        <locationY>1862</locationY>
        <connector>
            <targetReference>Copy_2_of_Update_Original_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Campaign_Members.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OutboundCallStatus__c</field>
            <value>
                <stringValue>Contacted</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Responded</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatwouldhelpyoutostayatCCC__c</field>
            <value>
                <elementReference>What_would_help_you_to_stay_at_CCC</elementReference>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Campaign_Member_Follow_Up</name>
        <label>Update Campaign Member Follow Up</label>
        <locationX>864</locationX>
        <locationY>2786</locationY>
        <connector>
            <targetReference>Create_2nd_Attempt_Outbound_Campaign_Record_Followup</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Campaign_Members.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OutboundCallStatus__c</field>
            <value>
                <stringValue>Contacted</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Responded</stringValue>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates the current campaign member to in progress so they are not available to be pulled for a call by more than one agent</description>
        <name>Update_Campaign_Member_to_In_Progress</name>
        <label>Update Campaign Member to In Progress</label>
        <locationX>677</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Get_Contacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Campaign_Members.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OutboundCallStatus__c</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Original_Task</name>
        <label>Update Original Task</label>
        <locationX>490</locationX>
        <locationY>3818</locationY>
        <connector>
            <targetReference>Follow_Up_Update_Campaign_Member</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Task.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>EndDateTimeFormulaVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AttemptMade__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Task</name>
        <label>Update Task</label>
        <locationX>248</locationX>
        <locationY>1322</locationY>
        <connector>
            <targetReference>Introductions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Task.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Contacted__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Task_with_Screen_Inputs</name>
        <label>Update Task with Screen Inputs</label>
        <locationX>677</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Outbound_Call_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Task.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CallType</field>
            <value>
                <stringValue>Outbound</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>A_Case_Has_Been_Created</name>
        <label>A Case Has Been Created</label>
        <locationX>314</locationX>
        <locationY>2186</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Which_Call_Attempt_Is_This</targetReference>
        </connector>
        <fields>
            <name>Casecreated</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Case #&lt;/strong&gt;&lt;a href=&quot;{!newCaseIDlinkFormula}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 14px;&quot;&gt;&lt;strong&gt;{!Get_Created_Case.CaseNumber} &lt;/strong&gt;&lt;/a&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;has been created. &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;em style=&quot;font-size: 14px;&quot;&gt;Click on the Case Number to be directed to the Case Record if you need to add details.&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>All_Attempts_Have_Been_Made</name>
        <label>All Attempts Have Been Made</label>
        <locationX>864</locationX>
        <locationY>3110</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>AllCallAttemptsHaveBeenMade</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;All Attempts Have Been Made For This Campaign Member With No Response1&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>AttemptHasBeenMadeScreen</name>
        <label>AttemptHasBeenMadeScreen</label>
        <locationX>490</locationX>
        <locationY>4142</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>FollowUpTaskCreatedMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;An Attempt Has Been Made For This Contact&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>CallAttemptsComplete</name>
        <label>Call Attempts Complete</label>
        <locationX>50</locationX>
        <locationY>2186</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>CampaignMemberContacted</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;This &lt;/strong&gt;&lt;strong style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Campaign Member &lt;/strong&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Has Successfully Been Reached &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_2ndAttemptCreatedScreen</name>
        <label>Copy 1 of 2ndAttemptCreatedScreen</label>
        <locationX>1634</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_FollowUpTaskCreatedMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;An Attempt Has Been Made For This Contact&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_All_Attempts_Have_Been_Made</name>
        <label>Copy 1 of All Attempts Have Been Made</label>
        <locationX>1898</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_1_of_AllCallAttemptsHaveBeenMade</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Two Call Attempts Have Been Made For This Campaign Member&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Call_Attempts_Complete</name>
        <label>Copy 1 of Call Attempts Complete</label>
        <locationX>1370</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_1_of_CampaignMemberContacted</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;This &lt;/strong&gt;&lt;strong style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Campaign Member &lt;/strong&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Has Successfully Been Reached &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Create_a_Case</name>
        <label>Create a Case</label>
        <locationX>314</locationX>
        <locationY>1754</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Case</targetReference>
        </connector>
        <fields>
            <name>ContactName</name>
            <extensionName>flowruntime:name</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>lastName</name>
                <value>
                    <elementReference>Get_Contacts.LastName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>firstName</name>
                <value>
                    <elementReference>Get_Contacts.FirstName</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>CaseVar.Type</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>CaseVar.SubType__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>CaseVar.Subject</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>CaseVar.Description</objectFieldReference>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Enrollment_Status</name>
        <label>Enrollment Status</label>
        <locationX>50</locationX>
        <locationY>1646</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Outbound_Campaign_Record</targetReference>
        </connector>
        <fields>
            <name>Enrollment_Statuss</name>
            <choiceReferences>EnrollmentStatusPickVal</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Enrollment Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Date_to_Complete_FAFSA_Application</name>
            <dataType>Date</dataType>
            <fieldText>Date to Complete FAFSA Application</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Enrollment_Statuss</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <stringValue>FAFSA</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Admission_Changes</name>
            <choiceReferences>AdmissionsChangePickVal</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Admission Changes</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Enrollment_Statuss</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Already Enrolled</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>New_Campus</name>
            <choiceReferences>NewCampus</choiceReferences>
            <dataType>String</dataType>
            <fieldText>New Campus</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Enrollment_Statuss</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Defer</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Reason_Not_Attending</name>
            <choiceReferences>ReasonNotAttendingPickVal</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Reason Not Attending</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Enrollment_Statuss</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Do Not Plan to Enroll</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Planned_Institution_to_Attend</name>
            <dataType>String</dataType>
            <fieldText>Planned Institution to Attend</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Reason_Not_Attending</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Attending Another Institution</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Overall_Experience</name>
            <choiceReferences>OverallExperiencePickVal</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Overall Experience</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>What_would_help_you_to_stay_at_CCC</name>
            <fieldText>What would help you to stay at CCC?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Enrollment_Statuss</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Do Not Plan to Enroll</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Follow_Up_Needed</name>
        <label>Follow Up Needed</label>
        <locationX>490</locationX>
        <locationY>2678</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>FollowUp</targetReference>
        </connector>
        <fields>
            <name>Follow_Up</name>
            <choiceReferences>FollowUpPickVal</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Yes</stringValue>
            </defaultValue>
            <fieldText>Follow Up?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Follow_Up_Needed_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Follow_Up_Needed_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>StartDateTime</name>
                    <dataType>DateTime</dataType>
                    <fieldText>Start Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Follow_Up_Needed_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>EndDateTime</name>
                    <dataType>DateTime</dataType>
                    <fieldText>End Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Follow_Up</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Yes</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Introductions</name>
        <label>Introductions</label>
        <locationX>248</locationX>
        <locationY>1430</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Are_They_Still_Interested_Decision</targetReference>
        </connector>
        <fields>
            <name>Are_They_Still_Interested</name>
            <choiceReferences>YesChoice</choiceReferences>
            <choiceReferences>NoChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Are They Still Interested?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Comments</name>
            <fieldText>Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Are_They_Still_Interested</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Introductions_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Introductions_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>NeedtoCreateCase</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Do you need to create a case?&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Introductions_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CreateCaseToggle</name>
                    <extensionName>flowruntime:toggle</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Create a Case?</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleActive</name>
                        <value>
                            <stringValue>Click Next to continue Creating the Case</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleInactive</name>
                        <value>
                            <stringValue>Click the Slider if you want to Create a Case</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>9</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Are_They_Still_Interested</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>No</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Outbound_Call_Status</name>
        <label>Outbound Call Status</label>
        <locationX>677</locationX>
        <locationY>1106</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Is_Follow_Up_Required</targetReference>
        </connector>
        <fields>
            <name>Campaign</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Campaign:&lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt; {!Get_Campaign.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Outbound_Call_Status_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Outbound_Call_Status_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>StudentId</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Student ID: &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!Get_Contacts.Student_ID__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>HomeCampus</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Home Campus:&lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt; {!Get_Contacts.Home_Campus__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>MobileNumber</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Mobile Number: &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!Get_Contacts.MobilePhone}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Outbound_Call_Status_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Contact</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: var(--lwc-fontSize3,0.8125rem); font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, &apos;Segoe UI&apos;, Roboto, Helvetica, Arial, sans-serif, &apos;Apple Color Emoji&apos;, &apos;Segoe UI Emoji&apos;, &apos;Segoe UI Symbol&apos;); color: rgb(68, 68, 68);&quot;&gt;Campaign Member: &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: var(--lwc-fontSize3,0.8125rem); font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, &apos;Segoe UI&apos;, Roboto, Helvetica, Arial, sans-serif, &apos;Apple Color Emoji&apos;, &apos;Segoe UI Emoji&apos;, &apos;Segoe UI Symbol&apos;); color: rgb(68, 68, 68);&quot;&gt;{!Get_Contacts.FirstName} {!Get_Contacts.LastName}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>HomeEmail</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Home Email: &lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!Get_Contacts.Personal_Email_Address__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>HomePhone</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Home Phone: &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!Get_Contacts.HomePhone}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Call_Status</name>
            <choiceReferences>CallStatusPickVal</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Call Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1161</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Task</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>FollowUpTaskComment</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Follow up to Task {!Get_Task.Subject}</text>
    </textTemplates>
    <textTemplates>
        <name>TextSubjectVar</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!Get_Campaign.Name}-{!Get_Campaign_Members.FirstName} {!Get_Campaign_Members.LastName} 2nd Attempt</text>
    </textTemplates>
    <variables>
        <name>campaignId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CampaignMemberIDVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>campaignmemeberId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>caseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>contactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>FollowUpOutboundCampaignRecordVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OutboundCampaign</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Outbound_Campaigns__c</objectType>
    </variables>
    <variables>
        <name>QueueVariable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SpanishQueueVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>StudentDetailsCheckbox</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>taskId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TaskIDVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
