force-app/main/default/flows/Custom_List_Email_Send_Contact.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Beginning_Bracket_to_JSON</name>
        <label>Assign Beginning Bracket to JSON</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>recipientIdJSON</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>[</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>ids</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Recipient_Ids</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Recipient_Ids_to_JSON</name>
        <label>Assign Recipient Ids to JSON</label>
        <locationX>402</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>recipientIdJSON</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&quot;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recipientIdJSON</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Recipient_Ids</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recipientIdJSON</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&quot;,</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Increase_Index</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Recipient_Ids_to_JSON</name>
        <label>Copy 1 of Assign Recipient Ids to JSON</label>
        <locationX>138</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>recipientIdJSON</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&quot;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recipientIdJSON</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Recipient_Ids</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recipientIdJSON</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&quot;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recipientIdJSON</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>]</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Recipient_Ids</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increase_Index</name>
        <label>Increase Index</label>
        <locationX>402</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>varCurrentIndex</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Recipient_Ids</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Final_Id_in_List</name>
        <label>Final Id in List?</label>
        <locationX>270</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Assign_Recipient_Ids_to_JSON</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCurrentIndex</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varCount</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Assign_Recipient_Ids_to_JSON</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Recipients_Provided</name>
        <label>Recipients Provided?</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Recipients_Not_Provided</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yesz</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ids</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Beginning_Bracket_to_JSON</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Custom List Email {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Custom List Email Send - Contact</label>
    <loops>
        <name>Loop_Through_Recipient_Ids</name>
        <label>Loop Through Recipient Ids</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <collectionReference>ids</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Final_Id_in_List</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>yrds</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Recipients_Not_Provided</name>
        <label>Recipients Not Provided</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>display</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(255, 0, 0); font-size: 20px; background-color: rgb(255, 255, 255);&quot;&gt;No Recipients have been provided. Please return to the list view and select recipients.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>yrds</name>
        <label>yrds</label>
        <locationX>50</locationX>
        <locationY>950</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>test</name>
            <extensionName>c:listEmailSend</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordIdsString</name>
                <value>
                    <elementReference>recipientIdJSON</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Recipients_Provided</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recipientIdJSON</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varCurrentIndex</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
</Flow>
