force-app/main/default/flows/Data_Desk_Batch_Modify_Records.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Batch_Modify_Records</name>
        <label>Batch Modify Records</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <actionName>BatchRecordModifier</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Exit</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>criteria</name>
            <value>
                <elementReference>Filter_Criteria</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fieldName</name>
            <value>
                <elementReference>Field_API_Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>newValue</name>
            <value>
                <elementReference>New_Value</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectName</name>
            <value>
                <elementReference>Object_API_Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>preUpdateToNull</name>
            <value>
                <elementReference>Pre_Update_to_Null</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordLimit</name>
            <value>
                <elementReference>Record_Limit</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sortDirection</name>
            <value>
                <elementReference>Sort_Direction</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sortField</name>
            <value>
                <elementReference>Sort_Field</elementReference>
            </value>
        </inputParameters>
        <nameSegment>BatchRecordModifier</nameSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <choices>
        <name>application</name>
        <choiceText>&lt;span style=&quot;font-size: 13px;&quot;&gt;hed__Application__c&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>hed__Application__c</stringValue>
        </value>
    </choices>
    <choices>
        <name>asc</name>
        <choiceText>Ascending (Lowest First)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ASC</stringValue>
        </value>
    </choices>
    <choices>
        <name>contact</name>
        <choiceText>Contact</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Contact</stringValue>
        </value>
    </choices>
    <choices>
        <name>createdDate</name>
        <choiceText>CreatedDate</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CreatedDate</stringValue>
        </value>
    </choices>
    <choices>
        <name>desc</name>
        <choiceText>Descending (Highest First)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>DESC</stringValue>
        </value>
    </choices>
    <choices>
        <name>lastModifiedDate</name>
        <choiceText>LastModifiedDate</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>LastModifiedDate</stringValue>
        </value>
    </choices>
    <description>This Flow can be used to fire trigger automations in batch by resetting the values in a chosen field, which first updates that field value to blank, and then enters a chosen value for a 2nd update, to allow automations to re-fire (or it can stay blank).</description>
    <environments>Default</environments>
    <formulas>
        <name>recordCountString</name>
        <dataType>String</dataType>
        <expression>IF({!Record_Limit} = 0, &quot;All Records&quot;, TEXT({!Record_Limit}))</expression>
    </formulas>
    <formulas>
        <name>valueString</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!New_Value}),&quot;Set to Blank&quot;, {!New_Value})</expression>
    </formulas>
    <interviewLabel>Data Desk) Batch Modify Records {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Data Desk) Batch Modify Records</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Confirmation</name>
        <label>Confirmation</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Back</backButtonLabel>
        <connector>
            <targetReference>Batch_Modify_Records</targetReference>
        </connector>
        <fields>
            <name>confirm</name>
            <fieldText>&lt;p&gt;This will batch update records based on the following criteria.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Object name :&lt;/strong&gt; {!Object_API_Name}&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Where : &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!Filter_Criteria}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Field to update :&lt;/strong&gt; {!Field_API_Name}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;With new value : &lt;/strong&gt;{!valueString}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Record limit : &lt;/strong&gt;{!recordCountString}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Do you want to proceed?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Let&apos;s Boogie</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Exit</name>
        <label>Exit</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Start</targetReference>
        </connector>
        <fields>
            <name>started</name>
            <fieldText>&lt;p&gt;Batch job started! Check &apos;Apex Jobs&apos; in setup for monitoring.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Start</name>
        <label>Start</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Confirmation</targetReference>
        </connector>
        <fields>
            <name>Intro</name>
            <fieldText>&lt;p&gt;This Flow allows you to mass-update records in batches, bypassing the Flow debug and synchronous Apex record limits.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Below you will set the new value for the chosen field. This can be blank.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Start_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Start_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Object_API_Name</name>
                    <choiceReferences>application</choiceReferences>
                    <choiceReferences>contact</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>contact</defaultSelectedChoiceReference>
                    <fieldText>Object API Name</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Start_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Field_API_Name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>FirstName</stringValue>
                    </defaultValue>
                    <fieldText>Field API Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Start_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>New_Value</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>DataDesk Test</stringValue>
                    </defaultValue>
                    <fieldText>New Value</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>NewValue</name>
            <fieldText>&lt;p&gt;Enter criteria for the batch update query. The flow queries for these records and updates the records with the chosen field and value. This is the &lt;span style=&quot;color: var(--slds-g-color-neutral-base-30, var(--lwc-colorTextWeak,rgb(68, 68, 68))); font-size: var(--lwc-fontSize3,0.8125rem); font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, &apos;Segoe UI&apos;, Roboto, Helvetica, Arial, sans-serif, &apos;Apple Color Emoji&apos;, &apos;Segoe UI Emoji&apos;, &apos;Segoe UI Symbol&apos;);&quot;&gt;SOQL that normally follows the WHERE keyword in clauses. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: var(--slds-g-color-neutral-base-30, var(--lwc-colorTextWeak,rgb(68, 68, 68))); font-size: var(--lwc-fontSize3,0.8125rem); font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, &apos;Segoe UI&apos;, Roboto, Helvetica, Arial, sans-serif, &apos;Apple Color Emoji&apos;, &apos;Segoe UI Emoji&apos;, &apos;Segoe UI Symbol&apos;);&quot;&gt;Omit ORDER BY and LIMIT and use the field values instead.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Start_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Start_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Filter_Criteria</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>FirstName = &apos;DataDesk Test&apos; AND NOT LIKE &apos;%Example Criteria%&apos;</stringValue>
                    </defaultValue>
                    <fieldText>Filter Criteria</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Start_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Sort_Field</name>
                    <choiceReferences>lastModifiedDate</choiceReferences>
                    <choiceReferences>createdDate</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>lastModifiedDate</defaultSelectedChoiceReference>
                    <fieldText>Sort Field</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Start_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Sort_Direction</name>
                    <choiceReferences>asc</choiceReferences>
                    <choiceReferences>desc</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>asc</defaultSelectedChoiceReference>
                    <fieldText>Sort Direction</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Start_Section2_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Record_Limit</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <numberValue>1.0</numberValue>
                    </defaultValue>
                    <fieldText>Record Limit (set to 0 to remove limit)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>PreUpdateToNull</name>
            <fieldText>&lt;p&gt;Check this box if you want to first update a record&apos;s field value to null before subsequently updating it to the chosen value. This can be used to trigger automations that fire on record updates by first updating the record to a blank value, and then updating it a second time with the chosen value.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Pre_Update_to_Null</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Pre Update to Null</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Start</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>
