force-app/main/default/flows/Data_Desk_Create_Test_Records.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Generate_Random_Values</name>
        <label>Generate Random Values</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <actionName>JamesTestClass</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Set_Defaults</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>endDate</name>
            <value>
                <elementReference>End_Date</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>picklistFieldName</name>
            <value>
                <stringValue>Status</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>picklistObject</name>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>randomNumberDecimalPlaces</name>
            <value>
                <elementReference>Decimal_Places</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>randomNumberEnd</name>
            <value>
                <elementReference>Max</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>randomNumberStart</name>
            <value>
                <elementReference>Min</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>startDate</name>
            <value>
                <elementReference>Start_Date</elementReference>
            </value>
        </inputParameters>
        <nameSegment>JamesTestClass</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Lead_to_Collection</name>
        <label>Add Lead to Collection</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>leadCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>testLead</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Quantity_Counter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Lead_to_Collection_Increment_Counter</name>
        <label>Add Lead to Collection, Increment Counter</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>leadCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>testLead</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>counter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Generate_Random_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Records_from_Collection</name>
        <label>Clear Records from Collection</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>leadCollection</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>blankLeadCollection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Generate_Random_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Defaults</name>
        <label>Set Defaults</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>testLead.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Generate_Random_Values.firstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>testLead.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Generate_Random_Values.lastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>testLead.Company</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Servio Test</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>testLead.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Generate_Random_Values.randomPicklistValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>testLead.Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Marketing List</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>testLead.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Generate_Random_Values.email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>testLead.hed__Birth_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Generate_Random_Values.randomDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>testLead.MobilePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Generate_Random_Values.randomNumber</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Lead_Fields</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>contact</name>
        <choiceText>Contact</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Contact</stringValue>
        </value>
    </choices>
    <choices>
        <name>lead</name>
        <choiceText>Lead</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Lead</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Quantity_Counter</name>
        <label>Quantity = Counter?</label>
        <locationX>182</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Add_Lead_to_Collection_Increment_Counter</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Quantity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>counter</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Test_Lead</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>lastNameFormula</name>
        <dataType>String</dataType>
        <expression>&quot;F Last Name &quot; + TEXT(NOW())</expression>
    </formulas>
    <formulas>
        <name>loopCountCheck</name>
        <dataType>Boolean</dataType>
        <expression>{!Quantity} == 0</expression>
    </formulas>
    <interviewLabel>Data Desk) Create Test Records {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Data Desk) Create Test Records</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Test_Lead</name>
        <label>Create Test Leads</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Clear_Records_from_Collection</targetReference>
        </connector>
        <inputReference>leadCollection</inputReference>
    </recordCreates>
    <screens>
        <name>Select_Object</name>
        <label>Select Object</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Generate_Random_Values</targetReference>
        </connector>
        <fields>
            <name>SelectAnObject</name>
            <fieldText>&lt;p&gt;Select an Object&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_Object_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Select_Object_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Min</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <numberValue>0.0</numberValue>
                    </defaultValue>
                    <fieldText>Min</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Select_Object_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Max</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <numberValue>100.0</numberValue>
                    </defaultValue>
                    <fieldText>Max</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Select_Object_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Decimal_Places</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <numberValue>0.0</numberValue>
                    </defaultValue>
                    <fieldText>Decimal Places</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Select_Object_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Select_Object_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Start_Date</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>$Flow.CurrentDate</elementReference>
                    </defaultValue>
                    <fieldText>Start Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Select_Object_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>End_Date</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>$Flow.CurrentDate</elementReference>
                    </defaultValue>
                    <fieldText>End Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Populate Fields</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Set_Lead_Fields</name>
        <label>Set Lead Fields</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Add_Lead_to_Collection</targetReference>
        </connector>
        <fields>
            <name>RandomizerDemo</name>
            <fieldText>&lt;p&gt;Random Date : {!Generate_Random_Values.randomDate}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Random Number : {!Generate_Random_Values.randomNumber}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Set_Lead_Fields_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Set_Lead_Fields_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>testLead.hed__Birth_Date__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Set_Lead_Fields_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>testLead.Email</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Set_Lead_Fields_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>testLead.MobilePhone</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Set_Lead_Fields_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Set_Lead_Fields_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Quantity</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <numberValue>1.0</numberValue>
                    </defaultValue>
                    <fieldText>Quantity</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>testLead.Name</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Set_Lead_Fields_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>testLead.Status</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>testLead.Source__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Create Record</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Select_Object</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>blankLeadCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>counter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>leadCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>success</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>testLead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
</Flow>
