force-app/main/default/flows/Integration_Application_Populate_Apply_To_Update_Contact_s_College_and_Applicant.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <interviewLabel>Integration) Application) Populate Apply To, Update Contact&apos;s College and Applicant Type {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Integration) Application) Populate Apply To, Update Contact&apos;s College and Applicant Type</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Record_Type_Id</name>
        <label>Get Record Type Id</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_the_Account_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Academic Program</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_the_Account_Id</name>
        <label>Get the Account Id</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Applying_to_field</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.hed__Application_Type__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Record_Type_Id.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Applying_to_field</name>
        <label>Update Applying to field</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Update_Contact_s_Application_Type_and_College_Fields</targetReference>
        </connector>
        <inputAssignments>
            <field>hed__Applying_To__c</field>
            <value>
                <elementReference>Get_the_Account_Id.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact_s_Application_Type_and_College_Fields</name>
        <label>Update Contact&apos;s Application Type and College Fields</label>
        <locationX>176</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>Home_Campus__c</field>
            <value>
                <elementReference>$Record.Home_Campus__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Most_Recent_Academic_Career__c</field>
            <value>
                <elementReference>$Record.hed__Application_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.hed__Applicant__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Record_Type_Id</targetReference>
        </connector>
        <filterLogic>(1 AND 2) OR (3 AND (4 OR 5 OR 6))</filterLogic>
        <filters>
            <field>hed__Application_Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Selective Enrollment</stringValue>
            </value>
        </filters>
        <filters>
            <field>hed__Applying_To__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>hed__Application_Type__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>hed__Application_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Credit</stringValue>
            </value>
        </filters>
        <filters>
            <field>hed__Application_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Adult Ed</stringValue>
            </value>
        </filters>
        <filters>
            <field>hed__Application_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Early College</stringValue>
            </value>
        </filters>
        <object>hed__Application__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
