force-app/main/default/flows/Integration_Application_Set_Active_Apps_on_Contact.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check</name>
        <label>Check</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Matches_ADED_App_on_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.hed__Applicant__r.ADED_Active_App_Number__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.CS9_Application_Number__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.hed__Applicant__r.ADED_Active_App_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Active_ADED_App_on_Contact</targetReference>
            </connector>
            <label>Matches ADED App on Contact</label>
        </rules>
        <rules>
            <name>Matches_CRED_App_on_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.hed__Applicant__r.CRED_Active_App_Number__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.CS9_Application_Number__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.hed__Applicant__r.CRED_Active_App_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Active_CRED_App_on_Contact</targetReference>
            </connector>
            <label>Matches CRED App on Contact</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Integration) Application) Set Active Apps on Contact {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Integration) Application) Set Active Apps on Contact</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Set_Active_ADED_App_on_Contact</name>
        <label>Set Active ADED App on Contact</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.hed__Applicant__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ADED_Active_Admit_Type__c</field>
            <value>
                <elementReference>$Record.Admit_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ADED_Active_Application__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Active_CRED_App_on_Contact</name>
        <label>Set Active CRED App on Contact</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.hed__Applicant__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CRED_Active_Admit_Type__c</field>
            <value>
                <elementReference>$Record.Admit_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRED_Active_Application__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check</targetReference>
        </connector>
        <filterFormula>(ISNEW() || ISCHANGED({!$Record.CS9_Program_Status__c}))
&amp;&amp; TEXT({!$Record.CS9_Program_Status__c}) = &apos;Active in Program&apos;</filterFormula>
        <object>hed__Application__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
