force-app/main/default/flows/Interview_Rubric_Timestamps_on_App.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Not_All_Responses_Populated</name>
        <label>Not All Responses Populated</label>
        <locationX>446</locationX>
        <locationY>1163</locationY>
        <assignmentItems>
            <assignToReference>allResponsesPresent</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Thru_Other_Rubrics</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_App_Variable_ID</name>
        <label>Set App Variable ID</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>application.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Application__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Existing_Timestamp_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_App_Variable_Timestamps</name>
        <label>Set App Variable Timestamps</label>
        <locationX>270</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>application.Interview_Rubrics_Created__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>application.Interview_Rubrics_First_Response__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Other_Interview_Rubrics_on_Application</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Timestamp_Application</name>
        <label>Timestamp Application Last Response</label>
        <locationX>50</locationX>
        <locationY>1547</locationY>
        <assignmentItems>
            <assignToReference>application.Interview_Rubrics_Last_Response__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Application</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Existing_Timestamp_Check</name>
        <label>Existing Timestamp Check</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Set_App_Variable_Timestamps</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Timestamps</defaultConnectorLabel>
        <rules>
            <name>First_Response_Timestamp_Populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Application__r.Interview_Rubrics_First_Response__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Other_Interview_Rubrics_on_Application</targetReference>
            </connector>
            <label>First Response Timestamp Populated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Response_Check</name>
        <label>Response Check</label>
        <locationX>358</locationX>
        <locationY>1055</locationY>
        <defaultConnector>
            <targetReference>Not_All_Responses_Populated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Response Found</defaultConnectorLabel>
        <rules>
            <name>Response_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Thru_Other_Rubrics.Response__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Thru_Other_Rubrics</targetReference>
            </connector>
            <label>Response Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Timestamp_Last_Response_if_All_Responses_Present</name>
        <label>Timestamp Last Response if All Responses Present</label>
        <locationX>182</locationX>
        <locationY>1439</locationY>
        <defaultConnector>
            <targetReference>Update_Application</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Some Rubrics Not Responded To</defaultConnectorLabel>
        <rules>
            <name>All_Responses_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>allResponsesPresent</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Timestamp_Application</targetReference>
            </connector>
            <label>All Responses Present</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Interview Rubric) Timestamps {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Interview Rubric) Timestamps on App</label>
    <loops>
        <name>Loop_Thru_Other_Rubrics</name>
        <label>Loop Thru Other Rubrics</label>
        <locationX>182</locationX>
        <locationY>947</locationY>
        <collectionReference>Get_Other_Interview_Rubrics_on_Application</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Response_Check</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Timestamp_Last_Response_if_All_Responses_Present</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Other_Interview_Rubrics_on_Application</name>
        <label>Get Other Interview Rubrics on Application</label>
        <locationX>182</locationX>
        <locationY>839</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Thru_Other_Rubrics</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Application__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Application__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Interview_Rubric__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_Response_Timestamp</name>
        <label>Set Response Timestamp</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>Set_App_Variable_ID</targetReference>
        </connector>
        <inputAssignments>
            <field>Response_Timestamp__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Application</name>
        <label>Update Application</label>
        <locationX>182</locationX>
        <locationY>1739</locationY>
        <inputReference>application</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_Response_Timestamp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Response__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Interview_Rubric__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>allResponsesPresent</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>application</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>hed__Application__c</objectType>
    </variables>
</Flow>
