force-app/main/default/flows/Integration_Application_Set_Active_Applications_on_Contact_V2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Application_Career_Check</name>
        <label>Application Career Check</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>N/A</defaultConnectorLabel>
        <rules>
            <name>Credit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.hed__Application_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Credit</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CS9_Program_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.hed__Applicant__r.CRED_Program_Status__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Found_App_on_Contact</targetReference>
            </connector>
            <label>Credit</label>
        </rules>
        <rules>
            <name>Adult_Ed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.hed__Application_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Adult Ed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CS9_Program_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.hed__Applicant__r.ADED_Program_Status__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Found_App_on_Contact2</targetReference>
            </connector>
            <label>Adult Ed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Triggering_App_is_Most_Recent</name>
        <label>Triggering App is Most Recent?</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Nope</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CS9_Term_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Most_Recent_Application.CS9_Term_Code__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Application_Career_Check</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Integration) Application) Set Active Applications on Contact {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Integration) Application) Set Active Applications on Contact V2</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Most_Recent_Application</name>
        <label>Get Most Recent Application</label>
        <locationX>578</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Triggering_App_is_Most_Recent</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>hed__Applicant__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.hed__Applicant__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>hed__Application_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.hed__Application_Type__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>CS9_Program_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CS9_Program_Status__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>hed__Application__c</object>
        <sortField>CS9_Term_Code__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_Found_App_on_Contact</name>
        <label>Set Found App on Contact</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.hed__Applicant__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CRED_Acad_Prog__c</field>
            <value>
                <elementReference>$Record.CS9_Academic_Program__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRED_Admit_Term__c</field>
            <value>
                <elementReference>$Record.hed__Term__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRED_Admit_Type__c</field>
            <value>
                <elementReference>$Record.Admit_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRED_App_Number__c</field>
            <value>
                <elementReference>$Record.CS9_Application_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRED_Application__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Found_App_on_Contact2</name>
        <label>Set Found App on Contact</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.hed__Applicant__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ADED_Acad_Prog__c</field>
            <value>
                <elementReference>$Record.CS9_Academic_Program__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ADED_Admit_Term__c</field>
            <value>
                <elementReference>$Record.hed__Term__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ADED_Admit_Type__c</field>
            <value>
                <elementReference>$Record.Admit_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ADED_App_Number__c</field>
            <value>
                <elementReference>$Record.CS9_Application_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ADED_Application__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Most_Recent_Application</targetReference>
        </connector>
        <filterFormula>(ISNEW() || ISCHANGED({!$Record.CS9_Program_Status__c}))
&amp;&amp; (TEXT({!$Record.CS9_Program_Status__c}) = &apos;Active in Program&apos;
|| TEXT({!$Record.CS9_Program_Status__c}) = &apos;Applicant&apos;)</filterFormula>
        <object>hed__Application__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
