force-app/main/default/flows/Integration_Application_Set_In_Progress_Apps_on_Contact_NEW.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>App_Search_Check</name>
        <label>App Search Check</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>No App Found</defaultConnectorLabel>
        <rules>
            <name>App_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Earliest_CRED_App_in_Processing.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Found_App_on_Contact</targetReference>
            </connector>
            <label>App Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>App_Search_Checkx</name>
        <label>App Search Check</label>
        <locationX>710</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>No App Found</defaultConnectorLabel>
        <rules>
            <name>App_Foundx</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Earliest_ADED_App_in_Processing.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Found_App_on_Contact2</targetReference>
            </connector>
            <label>App Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Application_Career_Check</name>
        <label>Application Career Check</label>
        <locationX>644</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>N/A</defaultConnectorLabel>
        <rules>
            <name>Credit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.hed__Application_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Credit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Earliest_CRED_App_in_Processing</targetReference>
            </connector>
            <label>Credit</label>
        </rules>
        <rules>
            <name>Adult_Ed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.hed__Application_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Adult Ed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Earliest_ADED_App_in_Processing</targetReference>
            </connector>
            <label>Adult Ed</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>isTriggerTermEarlierAded</name>
        <dataType>Boolean</dataType>
        <expression>IF(VALUE({!$Record.CS9_Term_Code__c}) &lt; VALUE({!Get_Earliest_ADED_App_in_Processing.CS9_Term_Code__c}), TRUE, FALSE)</expression>
    </formulas>
    <formulas>
        <name>isTriggerTermEarlierCred</name>
        <dataType>Boolean</dataType>
        <expression>IF(
NOT(ISBLANK({!Get_Earliest_CRED_App_in_Processing.CS9_Term_Code__c}))
&amp;&amp; (VALUE({!$Record.CS9_Term_Code__c}) &lt; VALUE({!Get_Earliest_CRED_App_in_Processing.CS9_Term_Code__c}))
, TRUE, FALSE)</expression>
    </formulas>
    <interviewLabel>Integration) Application) Set In Progress Apps on Contact NEW {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Integration) Application) Set In Progress Apps on Contact NEW</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Earliest_ADED_App_in_Processing</name>
        <label>Get Earliest ADED App in Processing</label>
        <locationX>710</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>App_Search_Checkx</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>hed__Applicant__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.hed__Applicant__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>CS9_Program_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Applicant</stringValue>
            </value>
        </filters>
        <filters>
            <field>hed__Application_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Adult Ed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>hed__Application__c</object>
        <sortField>CS9_Application_Number__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Earliest_CRED_App_in_Processing</name>
        <label>Get Earliest CRED App in Processing</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>App_Search_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>hed__Applicant__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.hed__Applicant__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>CS9_Program_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Applicant</stringValue>
            </value>
        </filters>
        <filters>
            <field>hed__Application_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Credit</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>hed__Application__c</object>
        <sortField>CS9_Application_Number__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_Found_App_on_Contact</name>
        <label>Set Found App on Contact</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.hed__Applicant__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CRED_Admit_Term__c</field>
            <value>
                <elementReference>Get_Earliest_CRED_App_in_Processing.hed__Term__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRED_Admit_Type__c</field>
            <value>
                <elementReference>Get_Earliest_CRED_App_in_Processing.Admit_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRED_App_Date__c</field>
            <value>
                <elementReference>Get_Earliest_CRED_App_in_Processing.Application_Submitted_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRED_App_Number__c</field>
            <value>
                <elementReference>Get_Earliest_CRED_App_in_Processing.CS9_Application_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRED_Application__c</field>
            <value>
                <elementReference>Get_Earliest_CRED_App_in_Processing.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRED_Applied_Admit_Term__c</field>
            <value>
                <elementReference>Get_Earliest_CRED_App_in_Processing.hed__Term__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRED_Applied_Admit_Type__c</field>
            <value>
                <elementReference>Get_Earliest_CRED_App_in_Processing.Admit_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRED_Applied_App_Date__c</field>
            <value>
                <elementReference>Get_Earliest_CRED_App_in_Processing.Application_Submitted_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRED_Applied_Application__c</field>
            <value>
                <elementReference>Get_Earliest_CRED_App_in_Processing.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRED_Home_Campus__c</field>
            <value>
                <elementReference>Get_Earliest_CRED_App_in_Processing.Home_Campus__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Found_App_on_Contact2</name>
        <label>Set Found App on Contact</label>
        <locationX>578</locationX>
        <locationY>647</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.hed__Applicant__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ADED_Admit_Term__c</field>
            <value>
                <elementReference>Get_Earliest_ADED_App_in_Processing.hed__Term__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ADED_Admit_Type__c</field>
            <value>
                <elementReference>Get_Earliest_ADED_App_in_Processing.Admit_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ADED_App_Date__c</field>
            <value>
                <elementReference>Get_Earliest_ADED_App_in_Processing.Application_Submitted_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ADED_App_Number__c</field>
            <value>
                <elementReference>Get_Earliest_ADED_App_in_Processing.CS9_Application_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ADED_Application__c</field>
            <value>
                <elementReference>Get_Earliest_ADED_App_in_Processing.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ADED_Applied_Admit_Term__c</field>
            <value>
                <elementReference>Get_Earliest_ADED_App_in_Processing.hed__Term__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ADED_Applied_Admit_Type__c</field>
            <value>
                <elementReference>Get_Earliest_ADED_App_in_Processing.Admit_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ADED_Applied_App_Date__c</field>
            <value>
                <elementReference>Get_Earliest_ADED_App_in_Processing.Application_Submitted_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ADED_Applied_Application__c</field>
            <value>
                <elementReference>Get_Earliest_ADED_App_in_Processing.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ADED_Home_Campus__c</field>
            <value>
                <elementReference>Get_Earliest_ADED_App_in_Processing.Home_Campus__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <start>
        <locationX>518</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Application_Career_Check</targetReference>
        </connector>
        <filterFormula>(ISNEW() || ISCHANGED({!$Record.CS9_Program_Status__c}))
&amp;&amp; TEXT({!$Record.CS9_Program_Status__c}) = &apos;Applicant&apos;</filterFormula>
        <object>hed__Application__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
