force-app/main/default/flows/Interview_Rubric_Average_Response_Score_Calculation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Counter_for_total_number_of_records</name>
        <label>Counter for total number of records</label>
        <locationX>264</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>Number_of_Records</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Total_response_score_tracking</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Total_response_score_tracking</name>
        <label>Total response score tracking</label>
        <locationX>264</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>Total_Response_Score</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_the_related_interview_rubric_records.Response_Rating_Formula__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_the_related_interview_rubric_records</targetReference>
        </connector>
    </assignments>
    <description>Average response score calcucation</description>
    <environments>Default</environments>
    <formulas>
        <name>Average_Response_Score_Formula</name>
        <dataType>Number</dataType>
        <expression>{!Total_Response_Score}/{!Number_of_Records}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Interview Rubric) Average Response Score Calculation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Interview Rubric) Average Response Score Calculation</label>
    <loops>
        <name>Loop_through_the_related_interview_rubric_records</name>
        <label>Loop through the related interview rubric records</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>Get_All_Interview_Rubric_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Counter_for_total_number_of_records</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Application_Record_s_Average_Score_Field</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_Interview_Rubric_Records</name>
        <label>Get All Interview Rubric Records</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_the_related_interview_rubric_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Application__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Application__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Response_Rating__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Interview_Rubric__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Application_Record_s_Average_Score_Field</name>
        <label>Update Application Record&apos;s Average Score Field</label>
        <locationX>176</locationX>
        <locationY>839</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Application__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Average_score_of_the_question_ratings__c</field>
            <value>
                <elementReference>Average_Response_Score_Formula</elementReference>
            </value>
        </inputAssignments>
        <object>hed__Application__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_All_Interview_Rubric_Records</targetReference>
        </connector>
        <object>Interview_Rubric__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>Number_of_Records</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Total_Response_Score</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
