force-app/main/default/flows/Integration_Service_Indicator_Populate_Student_Term.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Positive_true</name>
        <label>Set Positive = true</label>
        <locationX>50</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>positiveIndicator</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Positive_Indicator_Check</name>
        <label>Positive Indicator Check</label>
        <locationX>182</locationX>
        <locationY>503</locationY>
        <defaultConnector>
            <targetReference>Update_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Positive_Indicator</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Description__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Y</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Positive_true</targetReference>
            </connector>
            <label>Positive Indicator</label>
        </rules>
    </decisions>
    <description>This Flow populates Student__c and Active_Term__c from the Contact and Term records in Salesforce.</description>
    <environments>Default</environments>
    <interviewLabel>Integration) Service Indicator) Populate Student, Term {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Integration) Service Indicator) Populate Student, Term</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Student_Record</name>
        <label>Get Student Record</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Term_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Student_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Student_ID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Term_Record</name>
        <label>Get Term Record</label>
        <locationX>182</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Positive_Indicator_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Term_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Active_Term_Code__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>hed__Term__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Record</name>
        <label>Update Record</label>
        <locationX>182</locationX>
        <locationY>803</locationY>
        <inputAssignments>
            <field>Active_Term__c</field>
            <value>
                <elementReference>Get_Term_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Positive__c</field>
            <value>
                <elementReference>positiveIndicator</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Student__c</field>
            <value>
                <elementReference>Get_Student_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Student_Record</targetReference>
        </connector>
        <filterFormula>NOT(ISBLANK({!$Record.Active_Term_Code__c})) &amp;&amp; NOT(ISBLANK({!$Record.Student_ID__c})) &amp;&amp; (ISNEW() || ISCHANGED({!$Record.Student_ID__c}) || ISCHANGED({!$Record.Active_Term_Code__c}))</filterFormula>
        <object>Service_Indicators__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>positiveIndicator</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
