force-app/main/default/flows/Pull_Interview_Questions_to_Interview_Rubric_Objects.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Assign Interview Questions to Interviewer One</description>
        <name>Assign_Interview_Questions_to_Interviewer_One</name>
        <label>Assign Interview Questions to Interviewer One</label>
        <locationX>314</locationX>
        <locationY>1187</locationY>
        <assignmentItems>
            <assignToReference>var_Committee_Interviewer_One_Questions.Application__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Application.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Committee_Interviewer_One_Questions.Question__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Committe_Interview_Questions.Question__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Committee_Interviewer_One_Questions.Interviewer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Committee_Interviewers.UserId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_Committe_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_single_variable</name>
        <label>Assign single variable</label>
        <locationX>490</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>SingleIInterviewRubric.Application__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Application.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleIInterviewRubric.Question__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_questions.Question__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleIInterviewRubric.Interviewer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Interviewer_s_User_Id.UserId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Collection</name>
        <label>Assign to Collection</label>
        <locationX>490</locationX>
        <locationY>1187</locationY>
        <assignmentItems>
            <assignToReference>CreateInterviewRecordsCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleIInterviewRubric</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_questions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Collect all the questions assigned to the interviewers assigned to the committee</description>
        <name>Assign_to_Committe_Collection</name>
        <label>Assign to Committe Collection</label>
        <locationX>314</locationX>
        <locationY>1295</locationY>
        <assignmentItems>
            <assignToReference>var_Interviewers_Questions_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_Committee_Interviewer_One_Questions</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Committe_Interview_Questions</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Decision node to determine if this program requires a standard or committee interview method.</description>
        <name>Committee_Interview</name>
        <label>Committee Interview?</label>
        <locationX>226</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Get_Interview_Question_Set</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, Standard Interview</defaultConnectorLabel>
        <rules>
            <name>Yes_Committee_Interview</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account.Interview_Method__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Committee</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account_Team_Information</targetReference>
            </connector>
            <label>Yes, Committee Interview</label>
        </rules>
    </decisions>
    <decisions>
        <description>Is there an interview Required?</description>
        <name>Interview_Required</name>
        <label>Interview Required</label>
        <locationX>446</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account.Interview_Needed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Committee_Interview</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Pulls Interview questions to Interview Rubric objects</description>
    <environments>Default</environments>
    <interviewLabel>Pull Interview Questions to Interview Rubric Objects {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Pull Interview Questions to Interview Rubric Objects</label>
    <loops>
        <name>Loop_through_Committe_Interview_Questions</name>
        <label>Loop through Committe Interview Questions</label>
        <locationX>226</locationX>
        <locationY>1079</locationY>
        <collectionReference>Get_Interview_Question_Set_for_Committee_Interview</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Interview_Questions_to_Interviewer_One</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_through_Committee_Interviewers</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Committee_Interviewers</name>
        <label>Loop through Committee Interviewers</label>
        <locationX>50</locationX>
        <locationY>971</locationY>
        <collectionReference>Get_Account_Team_Information</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Loop_through_Committe_Interview_Questions</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Interview_Rubric_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_questions</name>
        <label>Loop through questions</label>
        <locationX>402</locationX>
        <locationY>971</locationY>
        <collectionReference>Get_Interview_Question_Set</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_single_variable</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Interview_Rubric</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Create interview rubric records for committee interview</description>
        <name>Create_Interview_Rubric_Records</name>
        <label>Create Interview Rubric Records</label>
        <locationX>50</locationX>
        <locationY>1571</locationY>
        <inputReference>var_Interviewers_Questions_Collection</inputReference>
    </recordCreates>
    <recordCreates>
        <description>Generate Interview Rubric</description>
        <name>Interview_Rubric</name>
        <label>Interview Rubric</label>
        <locationX>402</locationX>
        <locationY>1379</locationY>
        <inputReference>CreateInterviewRecordsCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>446</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Interview_Required</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Application.hed__Applying_To__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Query to find the interviewers</description>
        <name>Get_Account_Team_Information</name>
        <label>Get Account Team Information</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Interview_Question_Set_for_Committee_Interview</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TeamMemberRole</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Interviewer</stringValue>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AccountTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Application</name>
        <label>Get Application</label>
        <locationX>446</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>hed__Application__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Question Set</description>
        <name>Get_Interview_Question_Set</name>
        <label>Get Interview Question Set</label>
        <locationX>402</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Interviewer_s_User_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Program__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Application.hed__Applying_To__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Interview_Question_Set__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Question Set for Committee Interview</description>
        <name>Get_Interview_Question_Set_for_Committee_Interview</name>
        <label>Get Interview Question Set for Committee Interview</label>
        <locationX>50</locationX>
        <locationY>863</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Committee_Interviewers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Program__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Application.hed__Applying_To__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Interview_Question_Set__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Query for interviewer&apos;s id using account team member object</description>
        <name>Get_Interviewer_s_User_Id</name>
        <label>Get Interviewer&apos;s User Id</label>
        <locationX>402</locationX>
        <locationY>863</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_questions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TeamMemberRole</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Interviewer</stringValue>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AccountTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Application</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>hed__Application_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Selective Enrollment</stringValue>
            </value>
        </filters>
        <object>hed__Application__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>CreateInterviewRecordsCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Interview_Rubric__c</objectType>
    </variables>
    <variables>
        <name>SingleIInterviewRubric</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Interview_Rubric__c</objectType>
    </variables>
    <variables>
        <name>var_Committee_Interviewer_One_Questions</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Interview_Rubric__c</objectType>
    </variables>
    <variables>
        <name>var_Interviewers_Questions_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Interview_Rubric__c</objectType>
    </variables>
</Flow>
