force-app/main/default/flows/Sample_Application_Auto_Admit.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_Verification</name>
        <label>Check Verification</label>
        <locationX>402</locationX>
        <locationY>636</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Verified</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Education_History.hed__Verification_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Verified</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GPA_Over_3_2</targetReference>
            </connector>
            <label>Verified</label>
        </rules>
    </decisions>
    <decisions>
        <name>Citizenship_Check</name>
        <label>Citizenship Check</label>
        <locationX>182</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Meets_Citizenship_Criteria</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.hed__Applicant__r.hed__Citizenship_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>U.S. Citizen or U.S. National</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.hed__Applicant__r.hed__Citizenship_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>U.S. Dual Citizen</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Education_History</targetReference>
            </connector>
            <label>Meets Citizenship Criteria</label>
        </rules>
    </decisions>
    <decisions>
        <name>GPA_Over_3_2</name>
        <label>GPA Over 3.2</label>
        <locationX>226</locationX>
        <locationY>756</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Meets_GPA_Criteria</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Education_History.randa__Converted_GPA__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>3.2</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Education_History</targetReference>
            </connector>
            <label>Meets GPA Criteria</label>
        </rules>
    </decisions>
    <description>This flow automatically admits Applications based on specific criteria.</description>
    <interviewLabel>Application Auto Admit {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Sample: Application Auto Admit</label>
    <loops>
        <name>Education_History</name>
        <label>Education History</label>
        <locationX>50</locationX>
        <locationY>516</locationY>
        <collectionReference>Get_Education_History</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Verification</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Auto_Admit</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Education_History</name>
        <label>Get Education History</label>
        <locationX>50</locationX>
        <locationY>396</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Education_History</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>hed__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.hed__Applicant__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>hed__Education_History__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Auto_Admit</name>
        <label>Auto Admit</label>
        <locationX>50</locationX>
        <locationY>1284</locationY>
        <inputAssignments>
            <field>hed__Application_Status__c</field>
            <value>
                <stringValue>Admit</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Citizenship_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>hed__Application_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Received</stringValue>
            </value>
        </filters>
        <object>hed__Application__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2022-01-01</startDate>
            <startTime>01:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>currentItem_Verified_Education_History</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>hed__Education_History__c</objectType>
    </variables>
</Flow>
