force-app/main/default/flows/Sample_Assign_Application_Requirements.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Assign_Action_Plans</name>
        <label>Assign Action Plans</label>
        <locationX>618</locationX>
        <locationY>842</locationY>
        <actionName>randa__ApplicationService_API</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ActionPlanTemplateNames</name>
            <value>
                <elementReference>ActionPlanTemplateNames</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SkipWeekendsAndHolidays</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>StartDate</name>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>TargetRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Version</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputParameters>
        <nameSegment>randa__ApplicationService_API</nameSegment>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Common_Requirements</name>
        <label>Common Requirements</label>
        <locationX>616</locationX>
        <locationY>412</locationY>
        <assignmentItems>
            <assignToReference>ActionPlanTemplateNames</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Sample: Core Application</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ActionPlanTemplateNames</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Sample: Transcripts</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Application_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Recommendation_Requirement</name>
        <label>Recommendation Requirement</label>
        <locationX>857</locationX>
        <locationY>571</locationY>
        <assignmentItems>
            <assignToReference>ActionPlanTemplateNames</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Sample: Recommendations</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Action_Plans</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Test_Score_Requirement</name>
        <label>Test Score Requirement</label>
        <locationX>390</locationX>
        <locationY>568</locationY>
        <assignmentItems>
            <assignToReference>ActionPlanTemplateNames</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Sample: Test Scores</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Action_Plans</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Application_Type</name>
        <label>Application Type</label>
        <locationX>609</locationX>
        <locationY>573</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Undergraduate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.hed__Application_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Undergraduate</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Test_Score_Requirement</targetReference>
            </connector>
            <label>Undergraduate</label>
        </rules>
        <rules>
            <name>Transfer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.hed__Application_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Transfer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Test_Score_Requirement</targetReference>
            </connector>
            <label>Transfer</label>
        </rules>
        <rules>
            <name>Graduate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.hed__Application_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Graduate</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recommendation_Requirement</targetReference>
            </connector>
            <label>Graduate</label>
        </rules>
    </decisions>
    <decisions>
        <name>Term_Start_Date</name>
        <label>Term Start Date</label>
        <locationX>820</locationX>
        <locationY>414</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Future</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.hed__Term__r.hed__Start_Date__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Common_Requirements</targetReference>
            </connector>
            <label>Future</label>
        </rules>
    </decisions>
    <description>This flow assigns Action Plan records to Application records so that applicants can fulfill their requirements.</description>
    <interviewLabel>Sample: Assign Application Requirements {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Sample: Assign Application Requirements</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>702</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Term_Start_Date</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>hed__Application_Type__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>hed__Term__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>hed__Application__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>ActionPlanTemplateNames</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
