force-app/main/default/flows/Sample_Assign_Application_Reviews.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Stage_Record_To_Collection</name>
        <label>Add Stage Record To Collection</label>
        <locationX>415</locationX>
        <locationY>1199</locationY>
        <assignmentItems>
            <assignToReference>ApplicationReviewCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ApplicationReviewRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Increment_nonGraduate_Counter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Stage_Record_To_Collection1</name>
        <label>Add Stage Record To Collection</label>
        <locationX>802</locationX>
        <locationY>927</locationY>
        <assignmentItems>
            <assignToReference>ApplicationReviewCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ApplicationReviewRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Increment_Counter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_Counter</name>
        <label>Increment Counter</label>
        <locationX>1117</locationX>
        <locationY>794</locationY>
        <assignmentItems>
            <assignToReference>LoopCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Counter_3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_nonGraduate_Counter</name>
        <label>Increment Counter</label>
        <locationX>79</locationX>
        <locationY>1199</locationY>
        <assignmentItems>
            <assignToReference>LoopCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Permission_Set_Assignments_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Stage_Review_Record</name>
        <label>Stage Review Record</label>
        <locationX>416</locationX>
        <locationY>967</locationY>
        <assignmentItems>
            <assignToReference>ApplicationReviewRecord.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Permission_Set_Assignments_Loop.AssigneeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApplicationReviewRecord.randa__Application__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Stage_Record_To_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Stage_Review_Record1</name>
        <label>Stage Review Record</label>
        <locationX>802</locationX>
        <locationY>722</locationY>
        <assignmentItems>
            <assignToReference>ApplicationReviewRecord.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Queue_ID.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApplicationReviewRecord.randa__Application__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Stage_Record_To_Collection1</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Counter_3</name>
        <label>Check Counter &lt; 3</label>
        <locationX>910</locationX>
        <locationY>632</locationY>
        <defaultConnector>
            <targetReference>Create_Review_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Greater 3</defaultConnectorLabel>
        <rules>
            <name>Add_Another_Review</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopCounter</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stage_Review_Record1</targetReference>
            </connector>
            <label>Add Review</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_NonGraduate_Counter_3</name>
        <label>Check Counter &lt; 3</label>
        <locationX>407</locationX>
        <locationY>808</locationY>
        <defaultConnector>
            <targetReference>Create_Review_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Greater 3</defaultConnectorLabel>
        <rules>
            <name>Less_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopCounter</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stage_Review_Record</targetReference>
            </connector>
            <label>Less 3</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Type</name>
        <label>Application Type</label>
        <locationX>738</locationX>
        <locationY>301</locationY>
        <defaultConnector>
            <targetReference>Queue_ID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Graduate</defaultConnectorLabel>
        <rules>
            <name>Graduate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.hed__Application_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Graduate</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Permission_Set_ID</targetReference>
            </connector>
            <label>Not Graduate</label>
        </rules>
    </decisions>
    <description>This flow assigns Application Reviews to a queue and individual admissions staff members.</description>
    <interviewLabel>Sample: Assign Application Reviews {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Sample: Assign Application Reviews</label>
    <loops>
        <name>Permission_Set_Assignments_Loop</name>
        <label>Permission Set Assignments</label>
        <locationX>85</locationX>
        <locationY>702</locationY>
        <collectionReference>Permission_Set_Assignments</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_NonGraduate_Counter_3</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Review_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Review_Records</name>
        <label>Create Review Records</label>
        <locationX>223</locationX>
        <locationY>1087</locationY>
        <inputReference>ApplicationReviewCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Permission_Set_Assignments</name>
        <label>Permission Set Assignments</label>
        <locationX>563</locationX>
        <locationY>520</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Permission_Set_Assignments_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PermissionSetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Permission_Set_ID.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Permission_Set_ID</name>
        <label>Permission Set ID</label>
        <locationX>560</locationX>
        <locationY>396</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Permission_Set_Assignments</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Admissions Connect - Review Applications for Internal Users</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSet</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get all Users</description>
        <name>Queue_ID</name>
        <label>Queue ID</label>
        <locationX>917</locationX>
        <locationY>400</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Counter_3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Graduate Review Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>612</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Check_Type</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>randa__Checklist_Completion__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>100.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>hed__Application_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In Review</stringValue>
            </value>
        </filters>
        <object>hed__Application__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>ApplicationReviewCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>randa__Application_Review__c</objectType>
    </variables>
    <variables>
        <name>ApplicationReviewRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>randa__Application_Review__c</objectType>
    </variables>
    <variables>
        <name>GraduateQueueRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Group</objectType>
    </variables>
    <variables>
        <name>LoopCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
