force-app/main/default/flows/Scorecard_Screen_Flow_V2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Set a variable to the value of the field on the record</description>
        <name>Assign_Case_Variables</name>
        <label>Assign Case Variables</label>
        <locationX>248</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>CaseOwnerVar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OwnerNameFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DateTimeVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case_Record.CreatedDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case_Record.CaseNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecordVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case_Record</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caserecordIdvar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CTDateTimeVAR</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Chat_Transcripts.CreatedDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CTNumberVAR</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Chat_Transcripts.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Scorecard_Been_Created</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Scorecard_Assignment</name>
        <label>Scorecard Assignment</label>
        <locationX>314</locationX>
        <locationY>1754</locationY>
        <assignmentItems>
            <assignToReference>ScorecardIdVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case_Scorecards.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Section3Totals</name>
        <label>Section3Totals</label>
        <locationX>446</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>SectionResourcefulnessTotal</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Section3ResourcefulnessTotals</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Sections_Have_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign 1st section totals</description>
        <name>SectionAccuracyQualityTotals</name>
        <label>SectionAccuracyQualityTotals</label>
        <locationX>446</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>Section1Var</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccuracySectionsTotal</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PROFESSIONALISM_FINESSE</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Totals of 2nd section</description>
        <name>SectionProfessionalismFinesseTotals</name>
        <label>SectionProfessionalismFinesseTotals</label>
        <locationX>446</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>ProfessionalismAndFinesseTotalAverage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProFinesseTotalAverageVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RESOURCEFULNESSSection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Determines if the Scorecard has already been created.</description>
        <name>Has_Scorecard_Been_Created</name>
        <label>Has Scorecard Been Created</label>
        <locationX>248</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Scorecard</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Scorecard Not Created.</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Chat_Transcripts.Case.CaseScorecard__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetScoreCard</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Create a scorecard as long as the sections have values</description>
        <name>Sections_Have_Values</name>
        <label>Sections Have Values</label>
        <locationX>446</locationX>
        <locationY>1322</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Scorecard</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Values</defaultConnectorLabel>
        <rules>
            <name>Values_Exist_Create_Scorecard</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>AccuracySectionsTotal</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ProFinesseTotalAverageVar</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Section3ResourcefulnessTotals</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Scorecard</targetReference>
            </connector>
            <label>Values Exist Create Scorecard</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <description>1st Section Total</description>
        <name>AccuracySectionsTotal</name>
        <dataType>Number</dataType>
        <expression>({!Updates_CRM}+{!Reading_Skills}+{!Listening}+{!Comprehension}+{!Subject_of_Chat}+{!Provides_Correct_Information}+{!Verify_Identity}+{!Clean_Notation})/8</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>CTRepNameVar</name>
        <dataType>String</dataType>
        <expression>{!Get_Chat_Transcripts.Owner:User.FirstName}+&quot; &quot;+{!Get_Chat_Transcripts.Owner:User.LastName}</expression>
    </formulas>
    <formulas>
        <name>OwnerNameFormula</name>
        <dataType>String</dataType>
        <expression>{!Get_Case_Record.Owner:User.FirstName}&amp;&quot; &quot;&amp;{!Get_Case_Record.Owner:User.LastName}</expression>
    </formulas>
    <formulas>
        <name>ProFinesseTotalAverageVar</name>
        <dataType>Number</dataType>
        <expression>({!Grammer}+{!Spelling}+{!Spacing}+{!CourteousPolite}+{!NegativeTowardsInstitution})/5</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>ScorecardName</name>
        <dataType>String</dataType>
        <expression>&quot;Scorecard&quot;&amp;&quot; &quot;&amp;&quot;For&quot;&amp;&quot; &quot;&amp;&quot;Case: &quot;&amp;{!CaseVar}</expression>
    </formulas>
    <formulas>
        <name>Section3ResourcefulnessTotals</name>
        <dataType>Number</dataType>
        <expression>({!PastMemosFAQCCCWebsite}+{!StandardText}+{!ResearchedAccountHistory}+{!FollowsChatFlow})/4</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Scorecard Screen Flow V2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Scorecard Screen Flow V2</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Takes values from the screenflow to crate the scorecard</description>
        <name>Create_Scorecard</name>
        <label>Create Scorecard</label>
        <locationX>314</locationX>
        <locationY>1430</locationY>
        <assignRecordIdToReference>ScoreCardId</assignRecordIdToReference>
        <connector>
            <targetReference>Screentocommit</targetReference>
        </connector>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>Get_Case_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CleanNotation__c</field>
            <value>
                <elementReference>Clean_Notation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comprehension__c</field>
            <value>
                <elementReference>Comprehension</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CourteousPolite__c</field>
            <value>
                <elementReference>CourteousPolite</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CreatedById</field>
            <value>
                <elementReference>Get_Case_Record.Owner:User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CreatedDate</field>
            <value>
                <elementReference>DateTimeVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FollowsChatFlow__c</field>
            <value>
                <elementReference>FollowsChatFlow</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Grammar__c</field>
            <value>
                <elementReference>Grammer</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Listening__c</field>
            <value>
                <elementReference>Listening</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>ScorecardName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NegativeTowardsInstitution__c</field>
            <value>
                <elementReference>NegativeTowardsInstitution</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Providescorrectinformation__c</field>
            <value>
                <elementReference>Provides_Correct_Information</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReadingSkills__c</field>
            <value>
                <elementReference>Reading_Skills</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ResearchedAccountHistory__c</field>
            <value>
                <elementReference>ResearchedAccountHistory</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SpacingErrors__c</field>
            <value>
                <elementReference>Spacing</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Spelling__c</field>
            <value>
                <elementReference>Spelling</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SubjectofChat__c</field>
            <value>
                <elementReference>Subject_of_Chat</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UpdatesCRM__c</field>
            <value>
                <elementReference>Updates_CRM</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UsesPastMemosFAQsUsesCCCWebsite__c</field>
            <value>
                <elementReference>PastMemosFAQCCCWebsite</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UsesStandardText__c</field>
            <value>
                <elementReference>StandardText</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VerifyIdentity__c</field>
            <value>
                <elementReference>Verify_Identity</elementReference>
            </value>
        </inputAssignments>
        <object>Transcript_Scorecard__c</object>
    </recordCreates>
    <recordLookups>
        <description>Get the case record this flow was started from</description>
        <name>Get_Case_Record</name>
        <label>Get Case Record</label>
        <locationX>248</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Case_Variables</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Chat_Transcripts.CaseId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets the case scorecard created from this case</description>
        <name>Get_Case_Scorecards</name>
        <label>Get Case Scorecards</label>
        <locationX>314</locationX>
        <locationY>1646</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Scorecard_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Transcript_Scorecard__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Chat_Transcripts</name>
        <label>Get Chat Transcripts</label>
        <locationX>248</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Case_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LiveChatTranscript</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get scorecard associated to the case</description>
        <name>GetScoreCard</name>
        <label>GetScoreCard</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Scorecard_Totals</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case_Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Transcript_Scorecard__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Updates the case showing a scorecard is already associated.</description>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>314</locationX>
        <locationY>1862</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CaseScorecard__c</field>
            <value>
                <elementReference>ScorecardIdVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ScorecardCreated__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <description>Accuracy and Quality Section</description>
        <name>Accuracy_Quality</name>
        <label>Accuracy/Quality</label>
        <locationX>446</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>SectionAccuracyQualityTotals</targetReference>
        </connector>
        <fields>
            <name>AccuracyandQualityTitle</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px; color: rgb(0, 0, 0);&quot;&gt;SCORECARD&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;ACCURACY / QUALITY&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Accuracy_Quality_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Accuracy_Quality_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>UpdatesCRM</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Did the agent update the CRM ticket?&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Accuracy_Quality_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Updates_CRM</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <numberValue>0.0</numberValue>
                    </defaultValue>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Accuracy_Quality_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Accuracy_Quality_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Reading</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Did the agent correctly read the description?&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Accuracy_Quality_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Reading_Skills</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <numberValue>0.0</numberValue>
                    </defaultValue>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Accuracy_Quality_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Accuracy_Quality_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Listen</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Did the agent listen to the chatter&apos;s needs? &lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Accuracy_Quality_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Listening</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <numberValue>0.0</numberValue>
                    </defaultValue>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Accuracy_Quality_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Accuracy_Quality_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Comprehensiontext</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Did the agent comprehend their question?&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Accuracy_Quality_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Comprehension</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <numberValue>0.0</numberValue>
                    </defaultValue>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Accuracy_Quality_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Accuracy_Quality_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SubjectofChat</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Did the agent capture the correct subject reason for chat?&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Accuracy_Quality_Section5_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Subject_of_Chat</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <numberValue>0.0</numberValue>
                    </defaultValue>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Accuracy_Quality_Section6</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Accuracy_Quality_Section6_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CorrectInformation</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Did the agent provide the customer with the correct information?&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Accuracy_Quality_Section6_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Provides_Correct_Information</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <numberValue>0.0</numberValue>
                    </defaultValue>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Accuracy_Quality_Section7</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Accuracy_Quality_Section7_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>VerifyIdentity</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Did the agent capture/verify the caller&apos;s information?&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Accuracy_Quality_Section7_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Verify_Identity</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <numberValue>0.0</numberValue>
                    </defaultValue>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Accuracy_Quality_Section8</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Accuracy_Quality_Section8_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CleanNotation</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Did the agent use helpful comments about the conversation or capture ambiguous notation about the chat in the ticket notes section?&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Accuracy_Quality_Section8_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Clean_Notation</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <numberValue>0.0</numberValue>
                    </defaultValue>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>PROFESSIONALISM / FINESSE section of questions</description>
        <name>PROFESSIONALISM_FINESSE</name>
        <label>PROFESSIONALISM / FINESSE</label>
        <locationX>446</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>SectionProfessionalismFinesseTotals</targetReference>
        </connector>
        <fields>
            <name>ProfessionalismandFinesseTitle</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); font-size: 18px;&quot;&gt;SCORECARD&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;PROFESSIONALISM / FINESSE&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PROFESSIONALISM_FINESSE_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>PROFESSIONALISM_FINESSE_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>GrammarTextDisplay</name>
                    <fieldText>&lt;p&gt;Did the agent use appropriate grammar?&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>PROFESSIONALISM_FINESSE_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Grammer</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <numberValue>0.0</numberValue>
                    </defaultValue>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>PROFESSIONALISM_FINESSE_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>PROFESSIONALISM_FINESSE_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SpellingTextBlock</name>
                    <fieldText>&lt;p&gt;Did the agent use appropriate spelling?&amp;nbsp;Is the response clear?&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>PROFESSIONALISM_FINESSE_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Spelling</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <numberValue>0.0</numberValue>
                    </defaultValue>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>PROFESSIONALISM_FINESSE_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>PROFESSIONALISM_FINESSE_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SpacingTextBlock</name>
                    <fieldText>&lt;p&gt;Did the agent use appropriate spacing?&amp;nbsp;Words spaced adequately so to ensure customer can understand the agent. Use of appropriate sentence structure.&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>PROFESSIONALISM_FINESSE_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Spacing</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <numberValue>0.0</numberValue>
                    </defaultValue>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>PROFESSIONALISM_FINESSE_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>PROFESSIONALISM_FINESSE_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CourteousPoliteText</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Did the agent ask permission to place the customer on hold, while they research their account? Thank them for holding when they came back to the chat? Uses courtesy positive communication and words courtesy words throughout the chat (May I, please, thank you). Uses expressive and enthusiastic responses (Excellent, Incredible). Shows appropriate empathy - sounds like you care.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>PROFESSIONALISM_FINESSE_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Spacer</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>CourteousPolite</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <numberValue>0.0</numberValue>
                    </defaultValue>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>PROFESSIONALISM_FINESSE_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>PROFESSIONALISM_FINESSE_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>NegativeTowardsInstitutionBlock</name>
                    <fieldText>&lt;p&gt;Did the agent agree with the student about their negative experience at CCC or did they attempt to repair the relationship and portray confidence in themselves and the institution?&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>PROFESSIONALISM_FINESSE_Section5_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>NegativeTowardsInstitution</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <numberValue>0.0</numberValue>
                    </defaultValue>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>RESOURCEFULNESS Questions</description>
        <name>RESOURCEFULNESSSection</name>
        <label>RESOURCEFULNESSSection</label>
        <locationX>446</locationX>
        <locationY>1106</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Section3Totals</targetReference>
        </connector>
        <fields>
            <name>RESOURCEFULNESSBlock</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); font-size: 18px;&quot;&gt;SCORECARD&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(68, 68, 68);&quot;&gt;RESOURCEFULNESS&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RESOURCEFULNESSSection_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>RESOURCEFULNESSSection_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PastMemosFAQCCCWebsiteBlock</name>
                    <fieldText>&lt;p&gt;Did the agent use the correct resources/procedures? Did the agent leverage their CCC Website to locate the information?&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>RESOURCEFULNESSSection_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PastMemosFAQCCCWebsite</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <numberValue>0.0</numberValue>
                    </defaultValue>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>RESOURCEFULNESSSection_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>RESOURCEFULNESSSection_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>StandardTextBlock</name>
                    <fieldText>&lt;p&gt;Did the agent use the standard text created for the FAQ?&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>RESOURCEFULNESSSection_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>StandardText</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <numberValue>0.0</numberValue>
                    </defaultValue>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>RESOURCEFULNESSSection_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>RESOURCEFULNESSSection_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ResearchAccount</name>
                    <fieldText>&lt;p&gt;Did the agent research the account?&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>RESOURCEFULNESSSection_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ResearchedAccountHistory</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <numberValue>0.0</numberValue>
                    </defaultValue>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>RESOURCEFULNESSSection_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>RESOURCEFULNESSSection_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>FollowChatFlowBlock</name>
                    <fieldText>&lt;p&gt;Did the agent cover all key points on the script or chat flow?&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>RESOURCEFULNESSSection_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>FollowsChatFlow</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <numberValue>0.0</numberValue>
                    </defaultValue>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Submit  Scorecard</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Scorecard</name>
        <label>Scorecard</label>
        <locationX>446</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Accuracy_Quality</targetReference>
        </connector>
        <fields>
            <name>ScorecardTitleText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;SCORECARD&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CaseDetails</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Case Details&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Scorecard_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Scorecard_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>RepName</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Rep Name&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>DateTimeDisplayText</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Date/Time&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>CaseNumber</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Chat Transcript Number&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Scorecard_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>RepNameVar</name>
                    <fieldText>&lt;p&gt;{!CTRepNameVar}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>DateTimeVariable</name>
                    <fieldText>&lt;p&gt;{!CTDateTimeVAR}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>CaseNumberVariable</name>
                    <fieldText>&lt;p&gt;{!CTNumberVAR}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Scorecard_Totals</name>
        <label>Scorecard Totals</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ScorecardTotals</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px; color: rgb(0, 0, 0);&quot;&gt;SCORECARD TOTALS&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Scorecard_Totals_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Scorecard_Totals_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SectionTotals</name>
                    <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;&lt;strong&gt;ACCURACY / QUALITY TOTAL:&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: right;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Scorecard_Totals_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>AccScore</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;{!GetScoreCard.AccuracyQualitySectionAverageScore__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Scorecard_Totals_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Scorecard_Totals_Section1_Column4</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Scorecard_Totals_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Scorecard_Totals_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PROFESSIONALISMFINESSETOTALTEXT</name>
                    <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;&lt;strong&gt;PROFESSIONALISM / FINESSE TOTAL: &lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: right;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Scorecard_Totals_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ProText</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!GetScoreCard.ProfessionalismFinesseAverageScore__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Scorecard_Totals_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Scorecard_Totals_Section2_Column4</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Scorecard_Totals_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Scorecard_Totals_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>RESOURCEFULNESSTOTALTEXT</name>
                    <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;RESOURCEFULNESS TOTAL: &lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: right;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Scorecard_Totals_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ScoreTotalsPage</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!GetScoreCard.ResourcefulnessAverageScore__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Scorecard_Totals_Section3_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Totals</name>
                    <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;&lt;strong&gt;TOTAL SCORE: &lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Scorecard_Totals_Section3_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>TotalScoreNumber</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(68, 68, 68);&quot;&gt;{!GetScoreCard.TotalScore__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screentocommit</name>
        <label>Screentocommit</label>
        <locationX>314</locationX>
        <locationY>1538</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Case_Scorecards</targetReference>
        </connector>
        <fields>
            <name>CommitScreen</name>
            <fieldText>&lt;p&gt;This is just for testing the commit&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Chat_Transcripts</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>LineBreak</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;table class=&quot;ql-table-blob&quot; border=&quot;1&quot; style=&quot;border: none; text-align: center;&quot;&gt;&lt;tbody&gt;&lt;tr style=&quot;white-space: pre;&quot;&gt;&lt;td style=&quot;width: 467.5pt; border-top: none; border-right: none; border-left: none; border-bottom: 1pt solid windowtext;&quot; colspan=&quot;1&quot; rowspan=&quot;1&quot; width=&quot;623&quot;&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>CaseOwnerVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>caserecordIdvar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseRecordVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <description>The id of the case that started the flow</description>
        <name>CaseVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CTDateTimeVAR</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CTNumberVAR</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Date and Time when case was created</description>
        <name>DateTimeVar</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProfessionalismAndFinesseTotalAverage</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ScoreCardId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ScorecardIdVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Section1Var</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>SectionResourcefulnessTotal</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
