force-app/main/default/flows/Screenflow_Task_Assignment_V2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_to_Collection</name>
        <label>Add to Collection</label>
        <locationX>466</locationX>
        <locationY>2894</locationY>
        <assignmentItems>
            <assignToReference>AgentCampaignRecordVar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AgentCampaignRecordVariable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Agent_Owned_Tasks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Var_to_Collection</name>
        <label>Add Var to Collection</label>
        <locationX>466</locationX>
        <locationY>2786</locationY>
        <assignmentItems>
            <assignToReference>AgentCampaignRecordVariable.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AgentCampaignNameWithTaskCount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Agent_Assign_Number</name>
        <label>Agent Assign Number</label>
        <locationX>706</locationX>
        <locationY>3902</locationY>
        <assignmentItems>
            <assignToReference>NumberOfRecordsVar</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Agent_Change_Owner</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Agent_Change_Owner</name>
        <label>Agent Change Owner</label>
        <locationX>706</locationX>
        <locationY>4010</locationY>
        <assignmentItems>
            <assignToReference>Agent_Chosen_Loop.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Which_Agent</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Agent_Update_Owner</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Agent_Update_Owner</name>
        <label>Agent Update Owner</label>
        <locationX>706</locationX>
        <locationY>4118</locationY>
        <assignmentItems>
            <assignToReference>TaskOwnerUpdateCol</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Agent_Chosen_Loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Notification_Recipient_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AgentCampaignTaskAssign</name>
        <label>AgentCampaignTaskAssign</label>
        <locationX>466</locationX>
        <locationY>2678</locationY>
        <assignmentItems>
            <assignToReference>AgentCampaignRecordVariable.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Agent_Owned_Tasks.Campaign__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AgentCampaignRecordVariable.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Agent_Owned_Tasks.Campaign__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CampaignIdList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Agent_Owned_Tasks.Campaign__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CampaignIdList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>; </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Var_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Agent_Count</name>
        <label>Assign Agent Count</label>
        <locationX>466</locationX>
        <locationY>2570</locationY>
        <assignmentItems>
            <assignToReference>AgentCampaignNumber</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>AgentCampaignTaskCollection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AgentCampaignTaskAssign</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Campaign_to_Collection</name>
        <label>Assign Campaign to Collection</label>
        <locationX>422</locationX>
        <locationY>1538</locationY>
        <assignmentItems>
            <assignToReference>NewCampaignCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Assign_Campaigns_Loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Campaigns_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Count</name>
        <label>Assign Count</label>
        <locationX>334</locationX>
        <locationY>3254</locationY>
        <assignmentItems>
            <assignToReference>CountVar</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Queue_Owned_Tasks</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AgentOwnedTaskCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Agent_Owned_Tasks</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Reassign_Information</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Number</name>
        <label>Assign Number</label>
        <locationX>138</locationX>
        <locationY>3902</locationY>
        <assignmentItems>
            <assignToReference>NumberOfRecordsVar</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Change_Owner</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Number_of_Tasks_to_VAR</name>
        <label>Assign Number of Tasks to VAR</label>
        <locationX>554</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>NumberofTasks</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Task_Number</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Greater_than_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Campaign_Chosen_Assignment</name>
        <label>Campaign Chosen Assignment</label>
        <locationX>334</locationX>
        <locationY>1922</locationY>
        <assignmentItems>
            <assignToReference>CampaignChosenVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Which_Campaign</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OwnerID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Choose_Agent</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Agent_or_Queue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Change_Owner</name>
        <label>Change Owner</label>
        <locationX>138</locationX>
        <locationY>4010</locationY>
        <assignmentItems>
            <assignToReference>Task_Loop.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Which_Agent</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Owner</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Notification_Recipient_Assignment</name>
        <label>Notification Recipient Assignment</label>
        <locationX>706</locationX>
        <locationY>4226</locationY>
        <assignmentItems>
            <assignToReference>TaskReassingVar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Which_Agent</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Agent_Chosen_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Name</name>
        <label>Update Name</label>
        <locationX>422</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>Assign_Campaigns_Loop.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CampaignNamewithTaskCount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Campaign_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Owner</name>
        <label>Update Owner</label>
        <locationX>138</locationX>
        <locationY>4118</locationY>
        <assignmentItems>
            <assignToReference>TaskOwnerUpdateCol</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Task_Loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Task_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Which_Agent_Assignment</name>
        <label>Which Agent Assignment</label>
        <locationX>334</locationX>
        <locationY>3470</locationY>
        <assignmentItems>
            <assignToReference>RecipientID</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Which_Agent</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Agent_Queue_Loop</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>FromAgent</name>
        <choiceText>Agent</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Agent</stringValue>
        </value>
    </choices>
    <choices>
        <name>Queue</name>
        <choiceText>Unassigned Tasks</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Queue</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Agent_or_Queue</name>
        <label>Agent or Queue</label>
        <locationX>334</locationX>
        <locationY>2030</locationY>
        <defaultConnector>
            <targetReference>Get_Queue_Owned_Tasks</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Queue Chosen</defaultConnectorLabel>
        <rules>
            <name>Agent_Chosen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choose_From</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>FromAgent</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Agent_Owned_Tasks</targetReference>
            </connector>
            <label>Agent Chosen</label>
        </rules>
    </decisions>
    <decisions>
        <name>Agent_Queue_Loop</name>
        <label>Agent/Queue Loop</label>
        <locationX>334</locationX>
        <locationY>3578</locationY>
        <defaultConnector>
            <targetReference>Agent_Chosen_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Agent Selected</defaultConnectorLabel>
        <rules>
            <name>Queue_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choose_From</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Queue</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Task_Loop</targetReference>
            </connector>
            <label>Queue Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Already_Contained</name>
        <label>Already Contained</label>
        <locationX>378</locationX>
        <locationY>2354</locationY>
        <defaultConnector>
            <targetReference>GetCampaignsTaskForOwner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Contained No</defaultConnectorLabel>
        <rules>
            <name>Contained_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CampaignIdList</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_Agent_Owned_Tasks.Campaign__r.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Agent_Owned_Tasks</targetReference>
            </connector>
            <label>Contained Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Number_of_Records_Selected</name>
        <label>Copy 1 of Number of Records Selected</label>
        <locationX>838</locationX>
        <locationY>3794</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Summary</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_How_Many_Records</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NumberOfRecordsVar</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>How_Many_Records</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Agent_Assign_Number</targetReference>
            </connector>
            <label>Copy 1 of How Many Records</label>
        </rules>
    </decisions>
    <decisions>
        <name>Greater_than_0</name>
        <label>Greater than 0</label>
        <locationX>554</locationX>
        <locationY>1322</locationY>
        <defaultConnector>
            <targetReference>Assign_Campaigns_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>More_than_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NumberofTasks</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Name</targetReference>
            </connector>
            <label>More than 0</label>
        </rules>
    </decisions>
    <decisions>
        <name>Number_of_Records_Selected</name>
        <label>Number of Records Selected</label>
        <locationX>270</locationX>
        <locationY>3794</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Summary</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>How_Many_Records2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NumberOfRecordsVar</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>How_Many_Records</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Number</targetReference>
            </connector>
            <label>How Many Records</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>AgentCampaignCollectionChoice</name>
        <collectionReference>AgentCampaignRecordVar</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Campaign</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CampaignChoicePicklistVar</name>
        <collectionReference>Get_Campaign</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Campaign</object>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CampaignfromLoopChoiceSet</name>
        <collectionReference>NewCampaignCollection</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Campaign</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ChosenUserRecordCollection</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Choose_Agent</elementReference>
            </value>
        </filters>
        <object>User</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TaskCampaignVar</name>
        <collectionReference>Get_Queue_Owned_Tasks</collectionReference>
        <dataType>String</dataType>
        <displayField>CampaignName__c</displayField>
        <object>Task</object>
        <valueField>CampaignName__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>UserCollectionChoiceSet</name>
        <collectionReference>Get_Users</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>User</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>UserPickListVar</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProfileId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Service_Agent_Profiles.Id</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>OwnerID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>AgentCampaignNameWithTaskCount</name>
        <dataType>String</dataType>
        <expression>{!AgentCampaignRecordVariable.Name}+&quot; (Number of Tasks for Campaign = &quot;+ TEXT({!AgentCampaignNumber})+&quot;)&quot;</expression>
    </formulas>
    <formulas>
        <name>CampaignNamewithTaskCount</name>
        <dataType>String</dataType>
        <expression>&quot;Campaign Name: &quot;+ {!Assign_Campaigns_Loop.Name}+ BR() 
+&quot; &quot;+&quot;Number of Unassigned Tasks = &quot;+ TEXT({!NumberofTasks})</expression>
    </formulas>
    <formulas>
        <name>RecordIdComma</name>
        <dataType>String</dataType>
        <expression>{!Task_Loop.Id}+&quot;,&quot;</expression>
    </formulas>
    <interviewLabel>(Screenflow)Task Assignment V2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Deprecated (Screenflow)Task Assignment V2</label>
    <loops>
        <name>Agent_Chosen_Loop</name>
        <label>Agent Chosen Loop</label>
        <locationX>618</locationX>
        <locationY>3686</locationY>
        <collectionReference>Get_Agent_Owned_Tasks</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_1_of_Number_of_Records_Selected</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Summary</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Assign_Campaigns_Loop</name>
        <label>Assign Campaigns Loop</label>
        <locationX>334</locationX>
        <locationY>998</locationY>
        <collectionReference>Get_Campaign</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Task_Number</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>WhichCampaign</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Agent_Owned_Tasks</name>
        <label>Loop Agent Owned Tasks</label>
        <locationX>202</locationX>
        <locationY>2246</locationY>
        <collectionReference>Get_Agent_Owned_Tasks</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Already_Contained</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_Count</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Task_Loop</name>
        <label>Task Loop</label>
        <locationX>50</locationX>
        <locationY>3686</locationY>
        <collectionReference>Get_Queue_Owned_Tasks</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Number_of_Records_Selected</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Summary</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Agent_Owned_Tasks</name>
        <label>Get Agent Owned Tasks</label>
        <locationX>202</locationX>
        <locationY>2138</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Agent_Owned_Tasks</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Task_Record_Types.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OwnerID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Campaign</name>
        <label>Get Campaign</label>
        <locationX>334</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Groups</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Campaign_Record_Types.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Outbound Call Campaign</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Campaign</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Campaign_Record_Types</name>
        <label>Get Campaign Record Types</label>
        <locationX>334</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Campaign</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Outbound_Call_Campaigns</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Custom_Notification</name>
        <label>Get Custom Notification</label>
        <locationX>334</locationX>
        <locationY>4802</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Outbound_Campaign_Tasks</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Groups</name>
        <label>Get Groups</label>
        <locationX>334</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Campaigns_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Outbound_Campaigns</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Queue_Owned_Tasks</name>
        <label>Get Queue Owned Tasks</label>
        <locationX>466</locationX>
        <locationY>2138</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Campaign__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Which_Campaign</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Task_Record_Types.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Groups.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Profiles to narrow the list of users to the Call Center Users</description>
        <name>Get_Service_Agent_Profiles</name>
        <label>Get Service Agent Profiles</label>
        <locationX>334</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Supervisor_Profiles</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CCC Service Agent</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Profile</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Profiles to narrow the list of users to the Call Center Users</description>
        <name>Get_Supervisor_Profiles</name>
        <label>Get Supervisor Profiles</label>
        <locationX>334</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Users</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CCC Service Supervisor</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Profile</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_System_Admin</name>
        <label>Get System Admin</label>
        <locationX>334</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Service_Agent_Profiles</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>System Administrator</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Profile</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Task_Number</name>
        <label>Get Task Number</label>
        <locationX>554</locationX>
        <locationY>1106</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Number_of_Tasks_to_VAR</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Campaign__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Assign_Campaigns_Loop.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Groups.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Task_Record_Types.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Campaign__c</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>Status</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Task_Record_Types</name>
        <label>Get Task Record Types</label>
        <locationX>334</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Campaign_Record_Types</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Campaign_Tasks</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Users</name>
        <label>Get Users</label>
        <locationX>334</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Task_Record_Types</targetReference>
        </connector>
        <filterLogic>(1 OR 2 OR 3) AND 4</filterLogic>
        <filters>
            <field>ProfileId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Service_Agent_Profiles.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ProfileId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Supervisor_Profiles.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ProfileId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_System_Admin.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetCampaignsTaskForOwner</name>
        <label>GetCampaignsTaskForOwner</label>
        <locationX>466</locationX>
        <locationY>2462</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Agent_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Campaign__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Agent_Owned_Tasks.Campaign__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Choose_Agent</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <object>Task</object>
        <outputReference>AgentCampaignTaskCollection</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Tasks</name>
        <label>Update Tasks</label>
        <locationX>334</locationX>
        <locationY>4694</locationY>
        <connector>
            <targetReference>Get_Custom_Notification</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorScreen</targetReference>
        </faultConnector>
        <inputReference>TaskOwnerUpdateCol</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>ErrorScreen</name>
        <label>ErrorScreen</label>
        <locationX>834</locationX>
        <locationY>4802</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p&gt;An Error has occurred. Please contact your System Administrator and provide them this error message.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Reassign_Information</name>
        <label>Reassign Information</label>
        <locationX>334</locationX>
        <locationY>3362</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Which_Agent_Assignment</targetReference>
        </connector>
        <fields>
            <name>Reassign_Information_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Reassign_Information_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Reassign_Information_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Reassign_Information_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>WhichCampaignChoosen</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;Total Tasks Found for:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;{!Which_Campaign}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Choose_From</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Queue</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>AgentTaskCount</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;Total Tasks Found for {!Choose_Agent}:&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Choose_From</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>FromAgent</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Agent_Campaign_Select</name>
                    <choiceReferences>AgentCampaignCollectionChoice</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Select Campaign:</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Choose_From</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>FromAgent</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Reassign_Information_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>HowManyTitle</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;How Many Records From This Campaign Would You Like To Reassign?&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>How_Many_Records</name>
                    <dataType>Number</dataType>
                    <fieldText>Total Number to Reassign:</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>TransferTo</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;﻿Please Choose Which Agent to Assign These Records:&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Which_Agent</name>
                    <choiceReferences>UserCollectionChoiceSet</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Reassign To:</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Summary</name>
        <label>Summary</label>
        <locationX>334</locationX>
        <locationY>4586</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Tasks</targetReference>
        </connector>
        <fields>
            <name>ReassignmenSummary</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;&lt;u&gt;Reassignment Summary:﻿&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Summary_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Summary_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Campaign</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Campaign&lt;/strong&gt;:&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Choose_From</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Queue</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Summary_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CampaignChosenText</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!Which_Campaign}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Choose_From</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Queue</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Summary_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Summary_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>FromAgentTo</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;From Agent:&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Choose_From</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>FromAgent</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Summary_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>FromAgentDisplay</name>
                    <fieldText>&lt;p&gt;{!Choose_Agent}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Choose_From</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>FromAgent</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Summary_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Summary_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Agent</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;To Agent&lt;/strong&gt;:&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Summary_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>WhoseChosen</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;{!Which_Agent}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Summary_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Summary_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>NumberofRecords</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Number of Records to Reassign:&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Summary_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Reassign</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;{!How_Many_Records}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>WhichCampaign</name>
        <label>WhichCampaign</label>
        <locationX>334</locationX>
        <locationY>1814</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Campaign_Chosen_Assignment</targetReference>
        </connector>
        <fields>
            <name>WhichCampaign_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>WhichCampaign_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>TranserUserorQueue</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;﻿Do You Want to Transfer From one  Agent to Another or do you want to Assign some Unassigned Tasks?&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Choose_From</name>
                    <choiceReferences>FromAgent</choiceReferences>
                    <choiceReferences>Queue</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Choose From:</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;If you are transferring from one agent to another, choose Agent. If this is the first assignment from a new campaign, choose Queue.&lt;/span&gt;&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>WhichCampaign_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ChooseCampaignText</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Which Campaign do you want to Reassign Records From?:&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Choose_From</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Queue</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Which_Campaign</name>
                    <choiceReferences>CampaignfromLoopChoiceSet</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Which Campaign:</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <helpText>&lt;p&gt;Most recent Campaign listed first.&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Choose_From</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Queue</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>FromAgentName</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;﻿Which Agent do you Want to Transfer From?&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Choose_From</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>FromAgent</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Choose_Agent</name>
                    <choiceReferences>UserCollectionChoiceSet</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Choose Agent:</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Choose_From</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>FromAgent</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>208</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_System_Admin</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>CampaignNameAndTaskCountRichText</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong&gt;Campaign Name:&lt;/strong&gt; {!Assign_Campaigns_Loop.Name}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Number of Unassigned Tasks: &lt;/strong&gt;{!NumberofTasks}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>CampaignNameForScreen</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Campaign Name:&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>AgentCampaignNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>AgentCampaignRecordVar</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Campaign</objectType>
    </variables>
    <variables>
        <name>AgentCampaignRecordVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Campaign</objectType>
    </variables>
    <variables>
        <name>AgentCampaignTaskCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>AgentNameVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AgentOwnedTaskCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>AgentTaskCampaignNameVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AssignedOwnerVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CampaignChosenVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CampaignIdList</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CampaignNameVariable</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CountVar</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>ListView</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewCampaignCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Campaign</objectType>
    </variables>
    <variables>
        <name>NumberOfRecordsVar</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>NumberofTasks</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>OwnedBy</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OwnerAssignmentVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>OwnerID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OwnerUpdateVar</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>RecipientID</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ScreenflowNumberVar</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Supervisor</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>taskId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TaskOwnerUpdateCol</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>TaskReassingVar</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TaskRecordTypeVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
