force-app/main/default/flows/Screenflow_Intent_to_Enroll.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_to_collection</name>
        <label>Add to collection</label>
        <locationX>138</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>Cancelled_App_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_non_accepted_apps</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_non_accepted_apps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_for_New_Cloned_Record</name>
        <label>Assignment for New Cloned Record</label>
        <locationX>578</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>New_Deferred_Application</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Applications</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Deferred_Application.hed__Application_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>APPL</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Deferred_Application.hed__Term__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Deferred_Application.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Deferred_Application.IsClonedApp__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Deferred_Application.Students_Decision__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_Application_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Changes Application Status to &quot;Deferred Offer&quot;</description>
        <name>Student_Decision_Withdraw</name>
        <label>Student Decision Withdraw</label>
        <locationX>842</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>Get_Applications.Students_Decision__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>WITH</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Withdraw_Update_Application</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_App_Status_to_Cancelled</name>
        <label>Update App Status to Cancelled</label>
        <locationX>138</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>Loop_through_non_accepted_apps.hed__Application_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CANL</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_through_non_accepted_apps.Intent_to_Enroll_Submitted__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_through_non_accepted_apps.IsClonedApp__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Does a Selective Enrollment Program Application Already Exist?</description>
        <name>Does_Application_Exist</name>
        <label>Does Application Exist?</label>
        <locationX>974</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>AlreadySubmittedSEApp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No record found</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Applications</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Selective_Enrollment_Application</targetReference>
            </connector>
            <label>Yes, record found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Enrollment_Decision</name>
        <label>Enrollment Decision</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>AlreadySubmittedSEApp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Enrollment_Accepted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Please_Select_your_Intent_to_Enroll</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ACPT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Accepted_Application</targetReference>
            </connector>
            <label>Enrollment Accepted</label>
        </rules>
        <rules>
            <name>Enrollment_Declined</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Please_Select_your_Intent_to_Enroll</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SDNY</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Application</targetReference>
            </connector>
            <label>Enrollment Declined</label>
        </rules>
        <rules>
            <name>Enrollment_Deferred</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Please_Select_your_Intent_to_Enroll</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DEFR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Deferred_Application</targetReference>
            </connector>
            <label>Enrollment Deferred</label>
        </rules>
        <rules>
            <name>Enrollment_Withdrawn</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Please_Select_your_Intent_to_Enroll</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>WITH</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Student_Decision_Withdraw</targetReference>
            </connector>
            <label>Enrollment Withdrawn</label>
        </rules>
    </decisions>
    <description>Allows applicants to enroll inside the applicant portal using this screenflow.</description>
    <dynamicChoiceSets>
        <name>StudentDecision</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Students_Decision__c</picklistField>
        <picklistObject>hed__Application__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TermPicklistChoices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Term_Picklist__c</picklistField>
        <picklistObject>hed__Application__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>CollegeAPItrans</name>
        <dataType>String</dataType>
        <expression>IF(ISPICKVAL({!Get_Applications.Home_Campus__c}, &quot;DA&quot;), &quot;Richard J. Daley&quot;,
  IF(ISPICKVAL({!Get_Applications.Home_Campus__c}, &quot;HW&quot;), &quot;Harold Washington&quot;,
    IF(ISPICKVAL({!Get_Applications.Home_Campus__c}, &quot;KK&quot;), &quot;Kennedy-King&quot;,
        IF(ISPICKVAL({!Get_Applications.Home_Campus__c}, &quot;Malcolm X&quot;), &quot;Malcolm X&quot;,
            IF(ISPICKVAL({!Get_Applications.Home_Campus__c}, &quot;OH&quot;), &quot;Olive-Harvey&quot;,
                IF(ISPICKVAL({!Get_Applications.Home_Campus__c}, &quot;TR&quot;), &quot;Harry S Truman&quot;,
                    IF(ISPICKVAL({!Get_Applications.Home_Campus__c}, &quot;WR&quot;), &quot;Wilbur Wright&quot;,
                        &quot;N/A&quot;
                    )
                )
            )
        )
    )
)
)</expression>
    </formulas>
    <interviewLabel>Screenflow) Intent to Enroll {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Screenflow) Intent to Enroll</label>
    <loops>
        <name>Loop_through_non_accepted_apps</name>
        <label>Loop through non-accepted apps</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <collectionReference>Get_All_Applications</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_App_Status_to_Cancelled</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Cancelled_App_Collection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>New_Application_Record</name>
        <label>New Application Record</label>
        <locationX>578</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Confirmation_Screen</targetReference>
        </connector>
        <inputReference>New_Deferred_Application</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_All_Applications</name>
        <label>Get All Applications</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_non_accepted_apps</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>hed__Applicant__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.ContactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>hed__Application_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Selective Enrollment</stringValue>
            </value>
        </filters>
        <filters>
            <field>hed__Application_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>ACPT</stringValue>
            </value>
        </filters>
        <filters>
            <field>Intent_to_Enroll_Submitted__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Get_Applications.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>hed__Application__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get All Applications Related to Applicant</description>
        <name>Get_Applications</name>
        <label>Get Applications</label>
        <locationX>974</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Application_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>hed__Application_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Selective Enrollment</stringValue>
            </value>
        </filters>
        <filters>
            <field>Intent_to_Enroll_Submitted__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>hed__Applying_To__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>hed__Application__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Accepted_Application</name>
        <label>Update Accepted Application</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Get_All_Applications</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Applications.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Intent_to_Enroll_Submitted__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Students_Decision__c</field>
            <value>
                <stringValue>ACPT</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>hed__Application_Status__c</field>
            <value>
                <stringValue>ACPT</stringValue>
            </value>
        </inputAssignments>
        <object>hed__Application__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Application</name>
        <label>Update Application</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Confirmation_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Applications.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Intent_to_Enroll_Submitted__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Students_Decision__c</field>
            <value>
                <stringValue>SDNY</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>hed__Application_Status__c</field>
            <value>
                <stringValue>CANL</stringValue>
            </value>
        </inputAssignments>
        <object>hed__Application__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Cancelled_App_Collection</name>
        <label>Update Cancelled App Collection</label>
        <locationX>50</locationX>
        <locationY>1190</locationY>
        <connector>
            <targetReference>Confirmation_Screen</targetReference>
        </connector>
        <inputReference>Cancelled_App_Collection</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Deferred_Application</name>
        <label>Update Deferred Application</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Assignment_for_New_Cloned_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Applications.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Intent_to_Enroll_Submitted__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Students_Decision__c</field>
            <value>
                <stringValue>DEFR</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>hed__Application_Status__c</field>
            <value>
                <stringValue>DEFR</stringValue>
            </value>
        </inputAssignments>
        <object>hed__Application__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Withdraw_Update_Application</name>
        <label>Withdraw Update Application</label>
        <locationX>842</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Confirmation_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Applications.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Intent_to_Enroll_Submitted__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Students_Decision__c</field>
            <value>
                <stringValue>WITH</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>hed__Application_Status__c</field>
            <value>
                <stringValue>WITH</stringValue>
            </value>
        </inputAssignments>
        <object>hed__Application__c</object>
    </recordUpdates>
    <screens>
        <name>AlreadySubmittedSEApp</name>
        <label>AlreadySubmittedSEApp</label>
        <locationX>1370</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>AlreadyAppliedText</name>
            <fieldText>&lt;p&gt;Your decision for this program is already on file.  Please contact CCC&apos;s admissions department if you have any questions.  &lt;/p&gt;&lt;p&gt; &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Confirmation_Screen</name>
        <label>Confirmation Screen</label>
        <locationX>578</locationX>
        <locationY>1382</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Confirmation_Screen_Message</name>
            <fieldText>&lt;p&gt;Thank you/confirmation message placeholder.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Thank you &lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!$User.FirstName} for confirming!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Selective_Enrollment_Application</name>
        <label>Selective Enrollment Application</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Enrollment_Decision</targetReference>
        </connector>
        <fields>
            <name>Message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Please confirm you want to accept the offer for the following selective program:&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Program</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Program: &lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!Get_Applications.hed__Applying_To__r.Name}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Campus</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;﻿&lt;/span&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;﻿Campus: &lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!Get_Applications.Home_Campus__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Term</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;﻿&lt;/span&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Term: &lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!Get_Applications.hed__Term__r.Name}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Please_Select_your_Intent_to_Enroll</name>
            <choiceReferences>StudentDecision</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please Select your Intent to Enroll</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>848</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Applications</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ApplicationRecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>hed__Application__c</objectType>
    </variables>
    <variables>
        <name>Cancelled_App_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>hed__Application__c</objectType>
    </variables>
    <variables>
        <name>Clone_Application</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>hed__Application__c</objectType>
    </variables>
    <variables>
        <name>New_Deferred_Application</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>hed__Application__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
