force-app/main/default/flows/Screenflow_Create_Lead_from_Case_Record.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Link_Id</name>
        <label>Assign Link Id</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>LinkIdVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LeadIdVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lead_Created</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_LinkID</name>
        <label>Assign LinkID</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>LinkIdVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Leads.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lead_Created</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Was_Lead_Found</name>
        <label>Was Lead Found</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Create_A_Lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Leads.Email</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Cases.SuppliedEmail</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Leads.Phone</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Cases.SuppliedPhone</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_LinkID</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>CCC decision to not create Leads in the system</description>
    <environments>Default</environments>
    <formulas>
        <name>LeadCompany</name>
        <dataType>String</dataType>
        <expression>{!LeadName}+&quot; &quot;+&quot;Administrative Account&quot;</expression>
    </formulas>
    <formulas>
        <name>LeadRecordLink</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Enterprise_Server_URL_140},FIND( &apos;/services&apos;, {!$Api.Enterprise_Server_URL_140}))+{!LinkIdVar}</expression>
    </formulas>
    <formulas>
        <name>SuppliedNameFirstNameVar</name>
        <dataType>String</dataType>
        <expression>LEFT({!Get_Cases.SuppliedName}, FIND( &quot; &quot;, {!LeadFirstName} ) -1 )</expression>
    </formulas>
    <formulas>
        <name>SuppliedNameLeadLastName</name>
        <dataType>String</dataType>
        <expression>RIGHT({!Get_Cases.SuppliedName}, LEN({!Get_Cases.SuppliedName}) - FIND(&quot; &quot;, {!LeadLastName}))</expression>
    </formulas>
    <interviewLabel>(Screenflow) Create Lead from Case Record {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>(Deprecated) Create Lead from Case Record</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Lead</name>
        <label>Create Lead</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <assignRecordIdToReference>LeadIdVar</assignRecordIdToReference>
        <connector>
            <targetReference>Assign_Link_Id</targetReference>
        </connector>
        <inputAssignments>
            <field>Company</field>
            <value>
                <elementReference>LeadCompany</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Get_Cases.SuppliedEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Get_Cases.SuppliedName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Get_Cases.SuppliedPhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Cases</name>
        <label>Get Cases</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Leads</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Leads</name>
        <label>Get Leads</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Was_Lead_Found</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Cases.SuppliedEmail</elementReference>
            </value>
        </filters>
        <filters>
            <field>Phone</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Cases.SuppliedPhone</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case_Record</name>
        <label>Update Case Record</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CaseGeneratedLead__c</field>
            <value>
                <elementReference>LinkIdVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Created and/or updated Lead record.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SubType__c</field>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Information Call</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>General Information</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <name>Create_A_Lead</name>
        <label>Create A Lead</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Lead</targetReference>
        </connector>
        <fields>
            <name>CreateLeadHeader</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Create A Lead&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Create_A_Lead_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Create_A_Lead_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>LeadName</name>
                    <fieldText>&lt;p&gt;Lead Name: {!Get_Cases.SuppliedName}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>LeadEmail</name>
                    <fieldText>&lt;p&gt;Lead Email: {!Get_Cases.SuppliedEmail}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>LeadPhone</name>
                    <fieldText>&lt;p&gt;Lead Phone: {!Get_Cases.SuppliedPhone}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Create_A_Lead_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>FirstName</name>
                    <fieldText>&lt;p&gt;{!LeadFirstName}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Lead_Created</name>
        <label>Lead Created</label>
        <locationX>182</locationX>
        <locationY>866</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Case_Record</targetReference>
        </connector>
        <fields>
            <name>LeadCreated</name>
            <fieldText>&lt;p&gt;The Lead has been created.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!LeadRecordUrl}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Cases</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <textTemplates>
        <name>LeadRecordUrl</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;a href=&quot;{!LeadRecordLink}&quot;,&quot; target=&quot;_self&quot;&gt;Click Here for Lead Record&lt;/a&gt;</text>
    </textTemplates>
    <variables>
        <name>LeadEmailVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LeadFirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LeadIdVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LeadLastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LeadNameVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LeadPhoneVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LinkIdVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
