force-app/main/default/flows/Selective_Enrollment_Application_Requirements.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Assign_Action_Plans</name>
        <label>Assign Action Plans</label>
        <locationX>50</locationX>
        <locationY>600</locationY>
        <actionName>randa__ApplicationService_API</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ActionPlanTemplateNames</name>
            <value>
                <elementReference>ActionPlanTemplateNames</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SkipWeekendsAndHolidays</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>StartDate</name>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>TargetRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Version</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputParameters>
        <nameSegment>randa__ApplicationService_API</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Copy_10_of_Copy_1_of_Assign_Action_Plans</name>
        <label>Copy 10 of Copy 1 of Assign Action Plans</label>
        <locationX>2426</locationX>
        <locationY>600</locationY>
        <actionName>randa__ApplicationService_API</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ActionPlanTemplateNames</name>
            <value>
                <elementReference>ActionPlanTemplateNames</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SkipWeekendsAndHolidays</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>StartDate</name>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>TargetRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Version</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputParameters>
        <nameSegment>randa__ApplicationService_API</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Copy_12_of_Copy_1_of_Assign_Action_Plans</name>
        <label>Copy 12 of Copy 1 of Assign Action Plans</label>
        <locationX>2690</locationX>
        <locationY>600</locationY>
        <actionName>randa__ApplicationService_API</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ActionPlanTemplateNames</name>
            <value>
                <elementReference>ActionPlanTemplateNames</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SkipWeekendsAndHolidays</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>StartDate</name>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>TargetRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Version</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputParameters>
        <nameSegment>randa__ApplicationService_API</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Copy_13_of_Copy_1_of_Assign_Action_Plans</name>
        <label>Copy 13 of Copy 1 of Assign Action Plans</label>
        <locationX>2954</locationX>
        <locationY>600</locationY>
        <actionName>randa__ApplicationService_API</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ActionPlanTemplateNames</name>
            <value>
                <elementReference>ActionPlanTemplateNames</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SkipWeekendsAndHolidays</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>StartDate</name>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>TargetRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Version</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputParameters>
        <nameSegment>randa__ApplicationService_API</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Copy_14_of_Copy_1_of_Assign_Action_Plans</name>
        <label>Copy 14 of Copy 1 of Assign Action Plans</label>
        <locationX>3218</locationX>
        <locationY>600</locationY>
        <actionName>randa__ApplicationService_API</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ActionPlanTemplateNames</name>
            <value>
                <elementReference>ActionPlanTemplateNames</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SkipWeekendsAndHolidays</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>StartDate</name>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>TargetRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Version</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputParameters>
        <nameSegment>randa__ApplicationService_API</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Copy_15_of_Copy_1_of_Assign_Action_Plans</name>
        <label>Copy 15 of Copy 1 of Assign Action Plans</label>
        <locationX>3482</locationX>
        <locationY>600</locationY>
        <actionName>randa__ApplicationService_API</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ActionPlanTemplateNames</name>
            <value>
                <elementReference>ActionPlanTemplateNames</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SkipWeekendsAndHolidays</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>StartDate</name>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>TargetRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Version</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputParameters>
        <nameSegment>randa__ApplicationService_API</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Copy_16_of_Copy_1_of_Assign_Action_Plans</name>
        <label>Copy 16 of Copy 1 of Assign Action Plans</label>
        <locationX>3746</locationX>
        <locationY>600</locationY>
        <actionName>randa__ApplicationService_API</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ActionPlanTemplateNames</name>
            <value>
                <elementReference>ActionPlanTemplateNames</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SkipWeekendsAndHolidays</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>StartDate</name>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>TargetRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Version</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputParameters>
        <nameSegment>randa__ApplicationService_API</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Copy_17_of_Copy_1_of_Assign_Action_Plans</name>
        <label>Copy 17 of Copy 1 of Assign Action Plans</label>
        <locationX>4010</locationX>
        <locationY>600</locationY>
        <actionName>randa__ApplicationService_API</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ActionPlanTemplateNames</name>
            <value>
                <elementReference>ActionPlanTemplateNames</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SkipWeekendsAndHolidays</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>StartDate</name>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>TargetRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Version</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputParameters>
        <nameSegment>randa__ApplicationService_API</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Copy_1_of_Assign_Action_Plans</name>
        <label>Copy 1 of Assign Action Plans</label>
        <locationX>314</locationX>
        <locationY>600</locationY>
        <actionName>randa__ApplicationService_API</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ActionPlanTemplateNames</name>
            <value>
                <elementReference>ActionPlanTemplateNames</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SkipWeekendsAndHolidays</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>StartDate</name>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>TargetRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Version</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputParameters>
        <nameSegment>randa__ApplicationService_API</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Copy_1_of_Copy_1_of_Assign_Action_Plans</name>
        <label>Copy 1 of Copy 1 of Assign Action Plans</label>
        <locationX>578</locationX>
        <locationY>600</locationY>
        <actionName>randa__ApplicationService_API</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ActionPlanTemplateNames</name>
            <value>
                <elementReference>ActionPlanTemplateNames</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SkipWeekendsAndHolidays</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>StartDate</name>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>TargetRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Version</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputParameters>
        <nameSegment>randa__ApplicationService_API</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Copy_2_of_Copy_1_of_Assign_Action_Plans</name>
        <label>Copy 2 of Copy 1 of Assign Action Plans</label>
        <locationX>842</locationX>
        <locationY>600</locationY>
        <actionName>randa__ApplicationService_API</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ActionPlanTemplateNames</name>
            <value>
                <elementReference>ActionPlanTemplateNames</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SkipWeekendsAndHolidays</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>StartDate</name>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>TargetRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Version</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputParameters>
        <nameSegment>randa__ApplicationService_API</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Copy_3_of_Copy_1_of_Assign_Action_Plans</name>
        <label>Copy 3 of Copy 1 of Assign Action Plans</label>
        <locationX>1106</locationX>
        <locationY>600</locationY>
        <actionName>randa__ApplicationService_API</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ActionPlanTemplateNames</name>
            <value>
                <elementReference>ActionPlanTemplateNames</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SkipWeekendsAndHolidays</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>StartDate</name>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>TargetRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Version</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputParameters>
        <nameSegment>randa__ApplicationService_API</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Copy_4_of_Copy_1_of_Assign_Action_Plans</name>
        <label>Copy 4 of Copy 1 of Assign Action Plans</label>
        <locationX>1370</locationX>
        <locationY>600</locationY>
        <actionName>randa__ApplicationService_API</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ActionPlanTemplateNames</name>
            <value>
                <elementReference>ActionPlanTemplateNames</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SkipWeekendsAndHolidays</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>StartDate</name>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>TargetRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Version</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputParameters>
        <nameSegment>randa__ApplicationService_API</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Copy_5_of_Copy_1_of_Assign_Action_Plans</name>
        <label>Copy 5 of Copy 1 of Assign Action Plans</label>
        <locationX>1634</locationX>
        <locationY>600</locationY>
        <actionName>randa__ApplicationService_API</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ActionPlanTemplateNames</name>
            <value>
                <elementReference>ActionPlanTemplateNames</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SkipWeekendsAndHolidays</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>StartDate</name>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>TargetRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Version</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputParameters>
        <nameSegment>randa__ApplicationService_API</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Copy_8_of_Copy_1_of_Assign_Action_Plans</name>
        <label>Copy 8 of Copy 1 of Assign Action Plans</label>
        <locationX>1898</locationX>
        <locationY>600</locationY>
        <actionName>randa__ApplicationService_API</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ActionPlanTemplateNames</name>
            <value>
                <elementReference>ActionPlanTemplateNames</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SkipWeekendsAndHolidays</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>StartDate</name>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>TargetRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Version</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputParameters>
        <nameSegment>randa__ApplicationService_API</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Copy_9_of_Copy_1_of_Assign_Action_Plans</name>
        <label>Copy 9 of Copy 1 of Assign Action Plans</label>
        <locationX>2162</locationX>
        <locationY>600</locationY>
        <actionName>randa__ApplicationService_API</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ActionPlanTemplateNames</name>
            <value>
                <elementReference>ActionPlanTemplateNames</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SkipWeekendsAndHolidays</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>StartDate</name>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>TargetRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Version</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputParameters>
        <nameSegment>randa__ApplicationService_API</nameSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Selective_Enrollment_Action_Plan</name>
        <label>Assign Selective Enrollment Action Plan</label>
        <locationX>50</locationX>
        <locationY>492</locationY>
        <assignmentItems>
            <assignToReference>ActionPlanTemplateNames</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>SE Radiography AAS2</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Action_Plans</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_10_of_Copy_1_of_Assign_Selective_Enrollment_Action_Plan</name>
        <label>Copy 10 of Copy 1 of Assign Selective Enrollment Action Plan</label>
        <locationX>2426</locationX>
        <locationY>492</locationY>
        <assignmentItems>
            <assignToReference>ActionPlanTemplateNames</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Nursing AAS V2</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_10_of_Copy_1_of_Assign_Action_Plans</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_12_of_Copy_1_of_Assign_Selective_Enrollment_Action_Plan</name>
        <label>Copy 12 of Copy 1 of Assign Selective Enrollment Action Plan</label>
        <locationX>2690</locationX>
        <locationY>492</locationY>
        <assignmentItems>
            <assignToReference>ActionPlanTemplateNames</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Phlebotomy BC V2</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_12_of_Copy_1_of_Assign_Action_Plans</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_13_of_Copy_1_of_Assign_Selective_Enrollment_Action_Plan</name>
        <label>Copy 13 of Copy 1 of Assign Selective Enrollment Action Plan</label>
        <locationX>2954</locationX>
        <locationY>492</locationY>
        <assignmentItems>
            <assignToReference>ActionPlanTemplateNames</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>PTA AAS V2</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_13_of_Copy_1_of_Assign_Action_Plans</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_14_of_Copy_1_of_Assign_Selective_Enrollment_Action_Plan</name>
        <label>Copy 14 of Copy 1 of Assign Selective Enrollment Action Plan</label>
        <locationX>3218</locationX>
        <locationY>492</locationY>
        <assignmentItems>
            <assignToReference>ActionPlanTemplateNames</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Practical Nursing AC V2</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_14_of_Copy_1_of_Assign_Action_Plans</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_15_of_Copy_1_of_Assign_Selective_Enrollment_Action_Plan</name>
        <label>Copy 15 of Copy 1 of Assign Selective Enrollment Action Plan</label>
        <locationX>3482</locationX>
        <locationY>492</locationY>
        <assignmentItems>
            <assignToReference>ActionPlanTemplateNames</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Respiratory Care AAS V2</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_15_of_Copy_1_of_Assign_Action_Plans</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_16_of_Copy_1_of_Assign_Selective_Enrollment_Action_Plan</name>
        <label>Copy 16 of Copy 1 of Assign Selective Enrollment Action Plan</label>
        <locationX>3746</locationX>
        <locationY>492</locationY>
        <assignmentItems>
            <assignToReference>ActionPlanTemplateNames</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Sterile Processing Clinical BC V2</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_16_of_Copy_1_of_Assign_Action_Plans</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_17_of_Copy_1_of_Assign_Selective_Enrollment_Action_Plan</name>
        <label>Copy 17 of Copy 1 of Assign Selective Enrollment Action Plan</label>
        <locationX>4010</locationX>
        <locationY>492</locationY>
        <assignmentItems>
            <assignToReference>ActionPlanTemplateNames</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Surgical Tech AAS V2</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_17_of_Copy_1_of_Assign_Action_Plans</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Selective_Enrollment_Action_Plan</name>
        <label>Copy 1 of Assign Selective Enrollment Action Plan</label>
        <locationX>314</locationX>
        <locationY>492</locationY>
        <assignmentItems>
            <assignToReference>ActionPlanTemplateNames</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>SE BNA BC V2</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Assign_Action_Plans</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Copy_1_of_Assign_Selective_Enrollment_Action_Plan</name>
        <label>Copy 1 of Copy 1 of Assign Selective Enrollment Action Plan</label>
        <locationX>578</locationX>
        <locationY>492</locationY>
        <assignmentItems>
            <assignToReference>ActionPlanTemplateNames</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Comm Driver BC V2</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Copy_1_of_Assign_Action_Plans</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Copy_1_of_Assign_Selective_Enrollment_Action_Plan</name>
        <label>Copy 2 of Copy 1 of Assign Selective Enrollment Action Plan</label>
        <locationX>842</locationX>
        <locationY>492</locationY>
        <assignmentItems>
            <assignToReference>ActionPlanTemplateNames</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Dental Hygiene AAS V2</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_2_of_Copy_1_of_Assign_Action_Plans</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_3_of_Copy_1_of_Assign_Selective_Enrollment_Action_Plan</name>
        <label>Copy 3 of Copy 1 of Assign Selective Enrollment Action Plan</label>
        <locationX>1106</locationX>
        <locationY>492</locationY>
        <assignmentItems>
            <assignToReference>ActionPlanTemplateNames</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>EMT AAS V2</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_3_of_Copy_1_of_Assign_Action_Plans</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_4_of_Copy_1_of_Assign_Selective_Enrollment_Action_Plan</name>
        <label>Copy 4 of Copy 1 of Assign Selective Enrollment Action Plan</label>
        <locationX>1370</locationX>
        <locationY>492</locationY>
        <assignmentItems>
            <assignToReference>ActionPlanTemplateNames</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>HIT AAS V4</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_4_of_Copy_1_of_Assign_Action_Plans</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_5_of_Copy_1_of_Assign_Selective_Enrollment_Action_Plan</name>
        <label>Copy 5 of Copy 1 of Assign Selective Enrollment Action Plan</label>
        <locationX>1634</locationX>
        <locationY>492</locationY>
        <assignmentItems>
            <assignToReference>ActionPlanTemplateNames</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Nursing AAS V2</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_5_of_Copy_1_of_Assign_Action_Plans</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_8_of_Copy_1_of_Assign_Selective_Enrollment_Action_Plan</name>
        <label>Copy 8 of Copy 1 of Assign Selective Enrollment Action Plan</label>
        <locationX>1898</locationX>
        <locationY>492</locationY>
        <assignmentItems>
            <assignToReference>ActionPlanTemplateNames</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Medical Coding AC V2</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_8_of_Copy_1_of_Assign_Action_Plans</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_9_of_Copy_1_of_Assign_Selective_Enrollment_Action_Plan</name>
        <label>Copy 9 of Copy 1 of Assign Selective Enrollment Action Plan</label>
        <locationX>2162</locationX>
        <locationY>492</locationY>
        <assignmentItems>
            <assignToReference>ActionPlanTemplateNames</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Most Sci AAS V2</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_9_of_Copy_1_of_Assign_Action_Plans</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Application_Type</name>
        <label>Application Type</label>
        <locationX>3350</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>No Match Found</defaultConnectorLabel>
        <rules>
            <name>Selective_Enrollment_Decision_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.hed__Application_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Selective Enrollment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Type_of_SE_Program</targetReference>
            </connector>
            <label>Selective Enrollment</label>
        </rules>
    </decisions>
    <decisions>
        <name>Type_of_SE_Program</name>
        <label>Type of SE Program</label>
        <locationX>2162</locationX>
        <locationY>384</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Radiography_AAS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.hed__Applying_To__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Radiography</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Selective_Enrollment_Action_Plan</targetReference>
            </connector>
            <label>Radiography AAS</label>
        </rules>
        <rules>
            <name>BNA_Fundamentals_and_Clinical</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.hed__Applying_To__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BNA Fundamentals and Clinical</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Assign_Selective_Enrollment_Action_Plan</targetReference>
            </connector>
            <label>BNA Fundamentals and Clinical</label>
        </rules>
        <rules>
            <name>Commercial_Passenger_Driver_Class_B</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.hed__Applying_To__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Commercial Passenger Driver: Class B</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Copy_1_of_Assign_Selective_Enrollment_Action_Plan</targetReference>
            </connector>
            <label>Commercial Passenger Driver: Class B</label>
        </rules>
        <rules>
            <name>Dental_Hygiene</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.hed__Applying_To__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dental Hygiene</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Copy_1_of_Assign_Selective_Enrollment_Action_Plan</targetReference>
            </connector>
            <label>Dental Hygiene</label>
        </rules>
        <rules>
            <name>EMT_II_Paramedic</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.hed__Applying_To__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EMT-II Paramedic</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_Copy_1_of_Assign_Selective_Enrollment_Action_Plan</targetReference>
            </connector>
            <label>EMT-II Paramedic</label>
        </rules>
        <rules>
            <name>Health_Information_Technology</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.hed__Applying_To__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Health Information Technology</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_4_of_Copy_1_of_Assign_Selective_Enrollment_Action_Plan</targetReference>
            </connector>
            <label>Health Information Technology</label>
        </rules>
        <rules>
            <name>LPN_Bridge_Pathway_to_Nursing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.hed__Applying_To__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LPN Bridge Pathway to Nursing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_5_of_Copy_1_of_Assign_Selective_Enrollment_Action_Plan</targetReference>
            </connector>
            <label>LPN Bridge Pathway to Nursing</label>
        </rules>
        <rules>
            <name>Medical_Coding</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.hed__Applying_To__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Medical Coding</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_8_of_Copy_1_of_Assign_Selective_Enrollment_Action_Plan</targetReference>
            </connector>
            <label>Medical Coding</label>
        </rules>
        <rules>
            <name>Mortuary_Science_Fall</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.hed__Applying_To__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mortuary Science Fall</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.hed__Applying_To__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mortuary Science Spring</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_9_of_Copy_1_of_Assign_Selective_Enrollment_Action_Plan</targetReference>
            </connector>
            <label>Mortuary Science</label>
        </rules>
        <rules>
            <name>Nursing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.hed__Applying_To__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Nursing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_10_of_Copy_1_of_Assign_Selective_Enrollment_Action_Plan</targetReference>
            </connector>
            <label>Nursing</label>
        </rules>
        <rules>
            <name>Phlebotomy</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.hed__Applying_To__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Phlebotomy</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_12_of_Copy_1_of_Assign_Selective_Enrollment_Action_Plan</targetReference>
            </connector>
            <label>Phlebotomy</label>
        </rules>
        <rules>
            <name>Physical_Therapist_Assistant</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.hed__Applying_To__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Physical Therapist Assistant</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_13_of_Copy_1_of_Assign_Selective_Enrollment_Action_Plan</targetReference>
            </connector>
            <label>Physical Therapist Assistant</label>
        </rules>
        <rules>
            <name>Practical_Nursing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.hed__Applying_To__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Practical Nursing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_14_of_Copy_1_of_Assign_Selective_Enrollment_Action_Plan</targetReference>
            </connector>
            <label>Practical Nursing</label>
        </rules>
        <rules>
            <name>Respiratory_Care</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.hed__Applying_To__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Respiratory Care</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_15_of_Copy_1_of_Assign_Selective_Enrollment_Action_Plan</targetReference>
            </connector>
            <label>Respiratory Care</label>
        </rules>
        <rules>
            <name>Sterile_Processing_Clinical</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.hed__Applying_To__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sterile Processing Clinical</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_16_of_Copy_1_of_Assign_Selective_Enrollment_Action_Plan</targetReference>
            </connector>
            <label>Sterile Processing Clinical</label>
        </rules>
        <rules>
            <name>Surgical_Technology</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.hed__Applying_To__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Surgical Technology</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_17_of_Copy_1_of_Assign_Selective_Enrollment_Action_Plan</targetReference>
            </connector>
            <label>Surgical Technology</label>
        </rules>
    </decisions>
    <description>This Flow Assigns Action Plan Templates for Selective Enrollment Programs.</description>
    <environments>Default</environments>
    <interviewLabel>Selective Enrollment Application Requirements {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Application) Selective Enrollment Requirements</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>3950</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Application_Type</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>hed__Application_Type__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>hed__Application__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <triggerOrder>1500</triggerOrder>
    <variables>
        <name>ActionPlanTemplateNames</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
