force-app/main/default/flows/Self_Registration_Screenflow_V2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Convert_Lead_to_New_Contact</name>
        <label>Convert Lead to New Contact</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <actionName>ServioConvertLeadsInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>GetConvertedContact</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>convertedStatus</name>
            <value>
                <stringValue>Qualified</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fallbackOwnerId</name>
            <value>
                <elementReference>OwnerID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>leadId</name>
            <value>
                <elementReference>Get_Matching_Lead.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ServioConvertLeadsInvocable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Convert_Leadx</name>
        <label>Convert Lead to Existing Contact</label>
        <locationX>50</locationX>
        <locationY>1106</locationY>
        <actionName>ServioConvertLeadsInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>GetConvertedContact</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>accountId</name>
            <value>
                <elementReference>Get_Matching_Contact_Record.AccountId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contactId</name>
            <value>
                <elementReference>contactIdForUserUpdate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>convertedStatus</name>
            <value>
                <stringValue>Qualified</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fallbackOwnerId</name>
            <value>
                <elementReference>OwnerID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>leadId</name>
            <value>
                <elementReference>Get_Matching_Lead.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ServioConvertLeadsInvocable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>Redirects user to Forgot_Password Experience site page</description>
        <name>Redirect_to_Forgot_Password</name>
        <label>Redirect to Forgot Password</label>
        <locationX>182</locationX>
        <locationY>2138</locationY>
        <actionName>c:urlRedirect</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>redirectType</name>
            <value>
                <stringValue>Site Page</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sitePage</name>
            <value>
                <stringValue>Forgot_Password</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:urlRedirect</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>Redirects user to Login page</description>
        <name>Redirect_to_Login_Page</name>
        <label>Redirect to Login Page</label>
        <locationX>578</locationX>
        <locationY>2738</locationY>
        <actionName>c:urlRedirect</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>redirectType</name>
            <value>
                <stringValue>Site Page</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sitePage</name>
            <value>
                <stringValue>Login</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:urlRedirect</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Contact_ID_to_variable_contactIdForUserUpdate</name>
        <label>Assign new Contact ID to variable contactIdForUserUpdate</label>
        <locationX>1106</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>contactIdForUserUpdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_new_Contact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Look_for_UserX</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_converted_Contact_ID_to_contactIdForUserUpdate</name>
        <label>Assign converted Contact ID to contactIdForUserUpdate</label>
        <locationX>182</locationX>
        <locationY>1622</locationY>
        <assignmentItems>
            <assignToReference>contactIdForUserUpdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetConvertedContact.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Look_for_UserX</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_matching_Contact_ID_to_contactIdForUserUpdate</name>
        <label>Assign matching Contact ID to contactIdForUserUpdate</label>
        <locationX>842</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>contactIdForUserUpdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Matching_Contact_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Look_for_UserX</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_matching_Contact_ID_to_contactIdForUserUpdatex</name>
        <label>Assign matching Contact ID to contactIdForUserUpdate</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>contactIdForUserUpdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Matching_Contact_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Convert_Leadx</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Updates values on the Contact record variable &apos;converted contact&apos;</description>
        <name>Assign_values_for_Update_Converted_Contact</name>
        <label>Assign values for Update Converted Contact</label>
        <locationX>182</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>GetConvertedContact.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Student_Record_Type_ID.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetConvertedContact.Create_Experience_Site_User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Converted_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set default values for contact to be created</description>
        <name>Set_Values_for_Contact</name>
        <label>Set Values for Contact</label>
        <locationX>1106</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>VarContactToCreate.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarContactToCreate.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarContactToCreate.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Email_Address</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarContactToCreate.Birth_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Date_of_Birth</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarContactToCreate.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Student_Record_Type_ID.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_new_Contact</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>option1</name>
        <choiceText>I do not have an existing account.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>no_existing_account</stringValue>
        </value>
    </choices>
    <choices>
        <name>option2</name>
        <choiceText>I have an existing account and will log in using that account.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>yes_existing_account</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Answer_Check</name>
        <label>Answer Check</label>
        <locationX>578</locationX>
        <locationY>2138</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Prompt_PW_Reset</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Existing Account</defaultConnectorLabel>
        <rules>
            <name>No_Existing_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>chooseOne</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>option1</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Similar_Contact</targetReference>
            </connector>
            <label>No Existing Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Lead_Already_Exist</name>
        <label>Does Lead Already Exist</label>
        <locationX>578</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Does_Matching_Contact_Exist</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Owner_is_Queue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Matching_Lead</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Matching_Lead.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00G</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Lead_Record</targetReference>
            </connector>
            <label>Yes Owner is Queue</label>
        </rules>
        <rules>
            <name>Yes_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Matching_Lead</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Matching_Lead.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Does_Matching_Contact_Existx</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Does a matching contact record already exist?</description>
        <name>Does_Matching_Contact_Exist</name>
        <label>Does Matching Contact Exist?</label>
        <locationX>974</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Set_Values_for_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Matching_Contact_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_matching_Contact_ID_to_contactIdForUserUpdate</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Does a matching contact record already exist?</description>
        <name>Does_Matching_Contact_Existx</name>
        <label>Does Matching Contact Exist?</label>
        <locationX>182</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Convert_Lead_to_New_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>Yesx</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Matching_Contact_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_matching_Contact_ID_to_contactIdForUserUpdatex</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_There_a_UserX</name>
        <label>Is There a User</label>
        <locationX>578</locationX>
        <locationY>1922</locationY>
        <defaultConnector>
            <targetReference>Create_Community_User</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No User</defaultConnectorLabel>
        <rules>
            <name>Yes_Same_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Look_for_UserX.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Look_for_UserX.Email</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Email_Address</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Prompt_PW_Reset</targetReference>
            </connector>
            <label>Yes, Same Email</label>
        </rules>
        <rules>
            <name>Yes_Different_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Look_for_UserX.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Look_for_UserX.Email</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Email_Address</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Confirm_Account</targetReference>
            </connector>
            <label>Yes, Different Email</label>
        </rules>
    </decisions>
    <description>Profile ID&apos;s will need to be updated: Student community Plus Profile ID: 00e7z000000Bz4zAAC</description>
    <environments>Default</environments>
    <formulas>
        <name>Alias</name>
        <dataType>String</dataType>
        <expression>Left({!First_Name}, 1) &amp; Right({!Last_Name},4)</expression>
    </formulas>
    <formulas>
        <name>CommunityNameNew</name>
        <dataType>String</dataType>
        <expression>{!Email_Address} + &quot;SB.CCC&quot;</expression>
    </formulas>
    <formulas>
        <name>Loginurlvariable</name>
        <dataType>String</dataType>
        <expression>HYPERLINK(&quot;https://citycollegesofchicago2--cccpartial.sandbox.my.site.com&quot;,&quot;Click here to go to login page&quot;,&quot;_self&quot;)</expression>
    </formulas>
    <interviewLabel>Self-Registration Screenflow V2 {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Self-Registration Screenflow V2</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Creates a new Community User</description>
        <name>Copy_1_of_Create_Community_User</name>
        <label>Copy 1 of Create Community User</label>
        <locationX>446</locationX>
        <locationY>2354</locationY>
        <connector>
            <targetReference>Registration_Complete_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Alias</field>
            <value>
                <elementReference>Alias</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Create_New_Similar_Contact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Email_Address</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EmailEncodingKey</field>
            <value>
                <stringValue>ISO-8859-1</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LanguageLocaleKey</field>
            <value>
                <stringValue>en_US</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LocaleSidKey</field>
            <value>
                <stringValue>en_US</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProfileId</field>
            <value>
                <stringValue>00e7z000000Bz4zAAC</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TimeZoneSidKey</field>
            <value>
                <stringValue>America/Chicago</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Username</field>
            <value>
                <elementReference>CommunityNameNew</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Creates a new Community User</description>
        <name>Create_Community_User</name>
        <label>Create Community User</label>
        <locationX>974</locationX>
        <locationY>2030</locationY>
        <connector>
            <targetReference>Registration_Complete_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Alias</field>
            <value>
                <elementReference>Alias</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>contactIdForUserUpdate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Email_Address</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EmailEncodingKey</field>
            <value>
                <stringValue>ISO-8859-1</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LanguageLocaleKey</field>
            <value>
                <stringValue>en_US</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LocaleSidKey</field>
            <value>
                <stringValue>en_US</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProfileId</field>
            <value>
                <stringValue>00e7z000000Bz4zAAC</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TimeZoneSidKey</field>
            <value>
                <stringValue>America/Chicago</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Username</field>
            <value>
                <elementReference>CommunityNameNew</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_new_Contact</name>
        <label>Create New Contact</label>
        <locationX>1106</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Assign_Contact_ID_to_variable_contactIdForUserUpdate</targetReference>
        </connector>
        <inputAssignments>
            <field>Birth_Date__c</field>
            <value>
                <elementReference>Date_of_Birth</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Email_Address</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Similar_Contact</name>
        <label>Create New Similar Contact</label>
        <locationX>446</locationX>
        <locationY>2246</locationY>
        <connector>
            <targetReference>Copy_1_of_Create_Community_User</targetReference>
        </connector>
        <inputAssignments>
            <field>Birth_Date__c</field>
            <value>
                <elementReference>Date_of_Birth</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Email_Address</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Obtains the ID of the Community user profile</description>
        <name>Get_CCC_Community_Profile_ID</name>
        <label>Get CCC Community Profile ID</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Matching_Lead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CCC Community Plus Student</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Profile</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Finds Matching User Record</description>
        <name>Get_Matching_Contact_Record</name>
        <label>Get Matching Contact Record</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Lead_Already_Exist</targetReference>
        </connector>
        <filterLogic>1 OR (2 AND 3 AND 4)</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Email_Address</elementReference>
            </value>
        </filters>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>Birth_Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Date_of_Birth</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Matching_Lead</name>
        <label>Get Matching Lead</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Matching_Contact_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Email_Address</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsConverted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Student_Record_Type_ID</name>
        <label>Get Student Record Type ID</label>
        <locationX>578</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_CCC_Community_Profile_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Student</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Obtains the converted contact from the conversion</description>
        <name>GetConvertedContact</name>
        <label>GetConvertedContact</label>
        <locationX>182</locationX>
        <locationY>1298</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_values_for_Update_Converted_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Matching_Lead.Email</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Look_for_UserX</name>
        <label>Look for User</label>
        <locationX>578</locationX>
        <locationY>1814</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_There_a_UserX</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contactIdForUserUpdate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Username</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CommunityNameNew</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Email_Address</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Converted_Contact</name>
        <label>Update Converted Contact</label>
        <locationX>182</locationX>
        <locationY>1514</locationY>
        <connector>
            <targetReference>Assign_converted_Contact_ID_to_contactIdForUserUpdate</targetReference>
        </connector>
        <inputReference>GetConvertedContact</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lead_Record</name>
        <label>Update Lead Record</label>
        <locationX>182</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Does_Matching_Contact_Existx</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Matching_Lead.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>OwnerID</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Confirm_Account</name>
        <label>Confirm Account</label>
        <locationX>578</locationX>
        <locationY>2030</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Answer_Check</targetReference>
        </connector>
        <fields>
            <name>message</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0); font-size: 16px;&quot;&gt;The system has detected a potential duplicate account using a different email address, please verify that you do not already have an account established.&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>chooseOne</name>
            <choiceReferences>option1</choiceReferences>
            <choiceReferences>option2</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Choose One</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Proceed</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Prompt_PW_Reset</name>
        <label>Prompt PW Reset</label>
        <locationX>182</locationX>
        <locationY>2030</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Redirect_to_Forgot_Password</targetReference>
        </connector>
        <fields>
            <name>Copy_2_of_LoginPrompt</name>
            <fieldText>&lt;p&gt;We have found an existing profile that matches the information you have submitted.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Username: &lt;/strong&gt;{!Look_for_UserX.Username}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please click &quot;Already have an Account&quot; and log in. If you do not know your password, please click the forgot password link.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Registration_Complete_0</name>
        <label>Registration Complete</label>
        <locationX>578</locationX>
        <locationY>2630</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Redirect_to_Login_Page</targetReference>
        </connector>
        <fields>
            <name>Messagecompleteregistration_0</name>
            <fieldText>&lt;p&gt;Registration Complete!&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Check your email for a link to set up your password!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Registration_Screen</name>
        <label>Registration Screen</label>
        <locationX>578</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Student_Record_Type_ID</targetReference>
        </connector>
        <fields>
            <name>First_Name</name>
            <dataType>String</dataType>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Last_Name</name>
            <dataType>String</dataType>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Email_Address</name>
            <dataType>String</dataType>
            <fieldText>Email Address</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Date_of_Birth</name>
            <dataType>Date</dataType>
            <fieldText>Date of Birth</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Registration_Screen</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>contactIdForUserUpdate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OwnerID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>0057y000001x0TF</stringValue>
        </value>
    </variables>
    <variables>
        <description>Record contact variable for contact that will be created since there is no matching Lead or Contact in the system</description>
        <name>VarContactToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
